.CarProfile {
    padding-top: 57px;
    .slider {
        .silderCover {
            padding: 2.15% 17.5% 0%;
            // position: relative;
            .customSlider {
                position: relative;
                .showMoreImg {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    border-radius: 8px;
                    z-index: 9;
                    background-color: #ffffff;
                    padding: 7px 10px 6px;
                    cursor: pointer;
                    span {
                        font-size: 14px;
                        color: #000000;
                        font-family: NeoSansBold;
                        img {
                            margin-top: -2px;
                            width: 12px;
                            margin-right: 4px;
                        }
                    }
                }
                .main {
                    .imgGrid {
                        display: grid;
                        grid-template-columns: auto auto auto auto;
                        grid-gap: 10px;
                        border-radius: 12px !important;
                        overflow: hidden;
                        div {
                            background-color: #fff;
                            position: relative;
                            width: 100%;
                            padding-top: 75%;
                            background-position: 50%;
                            z-index: 4;
                            background-size: cover;
                            &.item {
                                grid-area: 1/1 / span 2 / span 2;
                            }
                            .overlay {
                                display: none;
                            }
                        }
                    }
                    .imgGridThree {
                        display: grid;
                        grid-template-columns: auto auto auto auto;
                        grid-gap: 10px;
                        border-radius: 12px !important;
                        overflow: hidden;

                        div {
                            background-color: #ffffff;
                            position: relative;
                            width: 100%;
                            z-index: 4;
                            padding-top: 50%;
                            background-position: center;
                            background-size: cover;
                            &.item {
                                grid-area: 1 / 1 / span 2 / span 3;
                            }
                            .overlay {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .contentSec {
        padding: 2.15% 16.6% 2%;
        .contentGrid {
            display: grid;
            grid-template-columns: 1fr 0.5fr;
            .tripInfo {
                padding-right: 19%;
                h3 {
                    color: #000;
                    font-size: 1.15vw;
                    font-family: NeoSansBold;
                    font-weight: 400;
                    letter-spacing: 0.8px;
                    margin-bottom: 9px;
                    text-transform: uppercase;
                    position: relative;
                    span {
                        font-family: NeoSansRegular;
                    }
                    label {
                        background-color: #b2020f;
                        color: #fff;
                        padding: 6px 8px 2px 8px;
                        border-radius: 5px;
                        font-weight: 400;
                        font-size: 11px;
                        margin-top: -1px !important;
                        margin-left: 6px;
                        margin-bottom: 0px;
                        position: absolute;
                        // display: inline-block;
                        font-family: NeoSansBold;
                        img {
                            width: 0.8vw;
                            margin-top: -3px;
                            padding: 0px;
                        }
                    }
                }
                h4 {
                    color: #000;
                    font-size: 1vw;
                    font-family: NeoSansBold;
                    font-weight: 400;
                    margin-bottom: 11px;
                }
                p {
                    font-size: 0.84vw;
                    color: #000;
                    font-family: NeoSansRegular;
                    margin-bottom: 0px;
                    span {
                        font-weight: bold;
                    }
                    img {
                        max-width: 100%;
                        padding: 0px 8px 0px 0px;
                        margin-top: -2px;
                    }
                }
                ul {
                    margin-left: 0;
                    padding-left: 0;
                    margin-bottom: 0;
                    color: #000;
                    font-size: 14px;
                    list-style-position: inside;
                    font-family: NeoSansArabic;
                    li {
                        display: inline-block;
                        padding-right: 10px;
                        font-size: 0.84vw;
                        span {
                            color: #b2020f;
                            font-family: NeoSansBold;
                            font-weight: 400;
                            margin-right: 50px;
                        }
                        img {
                            max-width: 100%;
                            margin: 0px 5px 0px 0px;
                        }
                        .pin {
                            width: 0.7vw;
                            margin: 0px 5px 0px 10px;
                        }
                        &:nth-child(2) {
                            list-style-type: disc;
                        }
                        &:last-child {
                            padding-right: 0px;
                        }
                        .star-rating {
                            // border: solid 1px #ccc;
                            display: flex;
                            flex-direction: row-reverse;
                            font-size: 1.2em;
                            justify-content: space-around;
                            padding: 0 0.2em;
                            text-align: center;
                            width: 5em;
                            input {
                                display: none;
                            }
                            label {
                                color: #ccc;
                                cursor: pointer;
                                margin-bottom: 0px;
                            }
                            :checked ~ label {
                                color: #b2020f;
                            }
                            label:hover {
                                color: #b2020f;
                                ~ label {
                                    color: #b2020f;
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
                .edit {
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    span {
                        color: #b2020f;
                        font-family: NeoSansRegular;
                        font-weight: bold;
                        margin-right: 0px;
                    }
                    .small {
                        display: none;
                    }
                }
                .carInfo {
                    padding-top: 26px !important;
                    padding: 4% 0;
                    border-bottom: 1px solid #ebebeb;
                    ul {
                        li {
                            font-size: 0.82vw;
                            img {
                                width: 0.84vw;
                                margin: -4px 5px 0px 10px;
                            }
                        }
                    }
                }
                .tripDate,
                .pickupAndReturn,
                .include,
                .insurance,
                .features,
                .host,
                .description,
                .ratings {
                    padding: 4% 0;
                    border-bottom: 1px solid #ebebeb;
                }
                .features {
                    ul {
                        width: 90%;
                        margin: 0 auto;
                        li {
                            width: 25%;
                            text-align: center;
                            img {
                                width: 1.7vw;
                                margin-bottom: 15px;
                            }
                        }
                    }
                }

                .host {
                    .profileSec {
                        display: grid;
                        grid-template-columns: 1fr 4.5fr;
                        cursor: pointer;
                        .userImg {
                            height: 5vw;
                            width: 5vw;
                            position: relative;
                            .profileImg {
                                background-size: cover;
                                background-position: center;
                                padding-top: 100%;
                                border-radius: 50%;
                                border: 1px solid #b2020f;
                                box-sizing: border-box;
                            }
                            p {
                                position: absolute;
                                transform: translate(-50%, -50%);
                                left: 50%;
                                top: 99%;
                                font-size: 0.62vw;
                                color: #b2020f;
                                border: 1px solid #b2020f;
                                border-radius: 10px;
                                background-color: #fff;
                                font-family: NeoSansBold;
                                padding: 4px 4px 0.5px;
                                z-index: 23;
                                min-width: 2.2vw;
                                img {
                                    width: 9px;
                                    padding: 0px;
                                    margin-top: -3px;
                                }
                            }
                        }
                        .hostInfo {
                            padding: 7px 0px;
                            h4 {
                                font-size: 0.84vw;
                                margin-bottom: 8px;
                                text-transform: uppercase;
                            }
                            span {
                                background-color: #b2020f;
                                color: #fff;
                                border-radius: 6px;
                                font-size: 0.67vw;
                                padding: 6px 10px 4px;
                                font-family: NeoSansBold;
                            }
                            ul {
                                margin-top: 10px;
                                li {
                                    font-size: 0.8vw;
                                    &:last-child {
                                        &::before {
                                            content: "|";
                                            // background: url(../../../assets/shared/img/others/icon/carProfile/rentals_line.svg);
                                            margin-right: 10px;
                                            font-size: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                // ------------------Description------------------
                .description {
                    p {
                        margin-left: 9px;
                        display: inline-block;
                        font-size: 0.83vw;
                        &::after {
                            content: "";
                            left: 0px;
                            z-index: 99;
                            position: absolute;
                            background: url("/images/others/icon/carProfile/review.svg");
                        }
                    }
                    span {
                        color: #000000;
                        font-family: NeoSansRegular;
                        font-weight: bold;
                        font-size: 0.75vw;
                    }
                    a {
                        color: #b2020f;
                        cursor: pointer;
                        font-family: NeoSansRegular;
                        font-weight: bold;
                        font-size: 0.75vw;
                        text-decoration: none;
                    }
                }
                // --------------------Rental------------
                .rentalBlock {
                    padding: 25px 0px;
                    border-bottom: 1px solid #ebebeb;
                    h4 {
                        color: #000;
                        font-size: 1vw;
                        font-family: NeoSansBold;
                        font-weight: 400;
                        margin-bottom: 0px;
                        img.star {
                            // max-width: 15px;
                            margin-top: -3px;
                            width: 1.1vw;
                        }
                    }
                    ul li {
                        font-size: 1vw;
                    }
                }
                // -------end Rental--------
                .ratings {
                    ul {
                        padding: 0;
                        margin: 0;
                        li {
                            display: block;
                            padding: 6.5px 0px;
                            span {
                                font-size: 0.84vw;
                                color: #000;
                                font-family: NeoSansRegular;
                                margin-bottom: 0px;
                                margin-right: 0px !important;
                            }
                            .floatRight {
                                font-family: NeoSansBold;
                            }
                            .progress {
                                width: 150px;
                                height: 4px;
                                display: inline-block;
                                margin-right: 10px;
                                margin-bottom: 4px;
                                min-height: 4px;
                                max-height: 4px;
                                background-color: #e9ecef;
                                border-radius: 0.25rem;
                                .progressBar {
                                    width: 100px;
                                    height: 4px;
                                    &.bgDanger {
                                        background-color: #dc3545 !important;
                                    }
                                }
                            }
                        }
                    }
                }
                // --------------------review----------
                .reviewList {
                    margin-top: 25px;
                    h3 {
                        color: #000;
                        font-size: 18px;
                        font-family: NeoSansBold;
                        margin-bottom: 20px;
                    }
                    .indivisualReview {
                        padding: 5px 0;
                        .imageSec {
                            width: 40px;
                            height: 40px;
                            display: inline-block;
                            margin-right: 20px;
                            float: left;
                            img {
                                border-radius: 50%;
                                width: 40px;
                                height: 40px;
                            }
                        }
                        .name {
                            padding-top: 5px;
                            display: inline-block;
                            h6 {
                                color: #000;
                                font-size: 15px;
                                font-family: NeoSansBold;
                                margin-bottom: 0;
                            }
                            span {
                                color: #989898;
                                font-size: 12px;
                                font-family: NeoSansRegular;
                                margin-bottom: 0;
                                padding-left: 0px;
                            }
                        }
                        p {
                            color: #000;
                            font-size: 15px;
                            font-family: NeoSansRegular;
                            margin-top: 5px;
                            margin-bottom: 0;
                        }
                    }
                }
                // ------------review-------------
                .reviewList {
                    margin-top: 25px;
                    h3 {
                        color: #000;
                        font-size: 18px;
                        font-family: NeoSansBold;
                        margin-bottom: 20px;
                    }
                    .indivisualReview {
                        padding: 5px 0;
                        .imageSec {
                            width: 40px;
                            height: 40px;
                            display: inline-block;
                            margin-right: 20px;
                            float: left;
                            img {
                                border-radius: 50%;
                                width: 40px;
                                height: 40px;
                            }
                        }
                        .name {
                            padding-top: 5px;
                            display: inline-block;
                            h6 {
                                color: #000;
                                font-size: 15px;
                                font-family: NeoSansBold;
                                margin-bottom: 0;
                            }
                            span {
                                color: #989898;
                                font-size: 12px;
                                font-family: NeoSansRegular;
                                margin-bottom: 0;
                                padding-left: 0px;
                            }
                        }
                        p {
                            color: #000;
                            font-size: 15px;
                            font-family: NeoSansRegular;
                            margin-top: 5px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    // -----------right------------
    .box {
        position: relative;
        padding-top: 1.6rem;
        .bookingForm {
            height: 730px;
            margin-top: 12rem;
            position: sticky;
            position: -webkit-sticky;
            position: -moz-sticky;
            position: -ms-sticky;
            position: -o-sticky;
            top: 10vh;
            bottom: auto;
            width: 100%;
            max-width: 22vw;
            margin-left: auto;
            padding: 15px 20px;
            border: 1px solid #ebebeb;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
            border-radius: 16px;
            &.bookingloginForm{
                height: 332px;  
            }
            .bookBtn {
                text-align: center;
                margin-top: 5px;
                button {
                    font-size: 12px;
                    width: 100%;
                    background-color: #b2020f;
                    font-family: NeoSansBold;
                    padding: 11px 0 9px;
                    color: #fff;
                    border-radius: 7px;
                    border: none;
                    outline: none;
                    margin: 0 auto;
                }
            }
            .price {
                h2 {
                    font-size: 1.8vw;
                    color: #000000;
                    font-family: NeoSansBold;
                    font-weight: 400;
                    margin-bottom: 0px;
                }
            }
            .summary {
                color: #989898;
                padding: 17px 0px;
                border-bottom: 1px solid #ebebeb;
                border-top: 1px solid #ebebeb;
                h5 {
                    font-size: 0.65vw;
                    font-family: NeoSansBold;
                    font-weight: 400;
                    margin-bottom: 0px;
                }
                p {
                    font-size: 0.75vw;
                    margin-bottom: 0px;
                    span {
                        font-family: NeoSansBold;
                    }
                }
            }
            .busycar {
                text-align: center;
                font-size: 16px;
                margin-top: 12rem;
                color: #cccccc;
                font-family: NeoSansBold;
            }

            .formGroup,
            .payment {
                // border-bottom: 1px solid #ebebeb;
                margin-bottom: 0px;
                span {
                    font-size: 0.8vw;
                    color: #000;
                    font-family: NeoSansRegular;
                    span {
                        font-family: NeoSansBold;
                    }
                }
                span.red {
                    color: #b2020f;
                }
            }
            .payment {
                padding: 10px 0px 5px;
                span {
                    img {
                        width: 40px;
                        height: 16px;
                        margin-right: 2px;
                        margin-top: -3px;
                    }
                }
                .red {
                    color: #b2020f;
                }
                .formControl {
                    width: 100%;
                    height: 50px;
                    border: none;
                    outline: none;
                    border-bottom: 2px solid #000;
                    font-size: 16px;
                    color: #999999;
                    font-family: CenturyGothic;
                    box-shadow: none;
                    border-radius: 0px;
                }
            }
            .formGroup2 {
                border-bottom: 1px solid #ebebeb;
                margin-bottom: 0px;
                position: relative;
                &::after {
                    content: url(/images/others/icon/carProfile/next_grey.svg);
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 52%;
                    left: 52%;
                }
                .floatRight {
                    &::after {
                        display: block;
                        content: "";
                        clear: both;
                    }
                }
                span {
                    color: #000;
                    font-size: 0.7vw;
                    font-family: NeoSansBold;
                    font-weight: 400;
                }
            }
            .formGroupBold {
                // border-bottom: 1px solid #ebebeb;
                margin-bottom: 0px;
                span {
                    font-size: 0.8vw;
                    color: #000;
                    font-family: NeoSansBold;
                    img {
                        width: 1vw;
                        margin-left: 5px;
                    }
                }
            }
            .formGroup2 {
                padding: 12px 0px;
            }
            .formGroup,
            .formGroupBold {
                padding: 6.5px 0;
                textarea {
                    font-size: 0.8vw;
                    font-family: NeoSansRegular;
                    box-shadow: none;
                    height: 5vw;
                    line-height: 1.8vh;
                    padding: 12px;
                    border-radius: 7px;
                    color: #000;
                    border: 1px solid #000;
                    resize: none;
                }
            }
        }
        .fix {
            position: fixed !important;
            right: 11.8% !important;
            top: 9em !important;
            z-index: 3 !important;
            animation-name: keyframe_1b8bzh6 !important;
            animation-duration: 1000ms !important;
        }
        .bottom {
            position: absolute !important;
            bottom: 0 !important;
            right: 0em !important;
            z-index: 3 !important;
            animation-name: keyframe_1b8bzh6 !important;
            animation-duration: 1000ms !important;
        }
    }
    // -----------carList--------------
    .relatedVehicle {
        text-align: center;
        .heading {
            padding: 20px 0 0;
            margin-bottom: 45px;
            p {
                color: #000;
                font-size: 1.5vw;
                font-family: NeoSansBold;
                font-weight: 400;
                margin-bottom: 50px;
            }
        }
        .carInfo {
            text-align: left;
            margin: 0 auto;
            position: relative;
            cursor: pointer;
            margin-left: 5px;
            margin-bottom: 10px;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0px 1px 5px #0000004d;
            background-color: #fff;
            margin-top: 6px;

            .unfav {
                position: absolute;
                top: 19px;
                right: 16px;
                border-radius: 50%;
                // padding-top: 4px;
                color: #000;
                text-align: center;
                background-color: #fff;
                height: 31px;
                width: 31px;
                font-size: 20px;
                font-family: NeoSansBold;
                z-index: 20;
                cursor: pointer;
                overflow: hidden;
                button {
                    padding: 0;
                    border: transparent;
                    background: transparent;
                    img {
                        width: 100%;
                    }
                }
            }
            .fav {
                position: absolute;
                top: 19px;
                right: 16px;
                border-radius: 50%;
                // padding-top: 4px;
                color: #000;
                text-align: center;
                background-color: #fff;
                height: 31px;
                width: 31px;
                font-size: 20px;
                font-family: NeoSansBold;
                z-index: 20;
                cursor: pointer;
                overflow: hidden;
                button {
                    padding: 0;
                    border: transparent;
                    background: transparent;

                    img {
                        width: 100%;
                    }
                }
            }
            .pricetag {
                background-color: #b2020f;
                position: absolute;
                top: 20px;
                left: 18px;
                padding: 7px 10px;
                border-radius: 8px;
                z-index: 20;
                p {
                    color: #fff;
                    font-size: 0.63vw;
                    font-family: NeoSansBold;
                    text-transform: uppercase;
                    margin-bottom: -3px;
                    white-space: nowrap;
                    overflow: hidden;
                    img {
                        max-width: 14px;
                        display: inline-block;
                        margin-top: -4px;
                    }
                }
            }
            .carImg {
                width: 100%;
                height: 252px;
                overflow: hidden;
                cursor: default;
                // object-fit: cover;
                background-color: #ffffff;
                position: relative;
                // width: 100%;
                // padding-top: 66.5%;
                background-position: center;
                background-size: cover;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px 10px 0px 0px;
                    object-fit: cover;
                }
            }
            .carDesc {
                padding: 7px 15px;
                border-top: 1px solid #b0b0b025;
                h5 {
                    color: #000;
                    font-size: 1.05vw;
                    font-family: NeoSansBold;
                    margin-bottom: 0px;
                    text-align: left;
                    margin: 9px 0 -3px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 100%;
                    display: inline-block;
                    margin-bottom: -7px;
                    span {
                        font-size: 1.05vw;
                        font-family: NeoSansRegular;
                        display: inline-block;
                        margin-left: 7px;
                    }
                }
                ul {
                    display: block;
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    li {
                        display: inline-block;
                        color: #000000;
                        font-family: NeoSansRegular;
                        font-size: 0.75vw;
                        img {
                            max-width: 10px;
                            display: inline-block;
                            margin-top: -2px;
                            margin-right: 5px;
                        }
                        .saprate {
                            margin: 0px 5px;
                            max-width: 1px;
                            height: 28px;
                            margin-top: -2px;
                        }
                        // &:first-child {
                        //   &::after {
                        //     content: url(../../../assets/shared/img/others/icon/rentals_line.svg);
                        //     margin: 0px 10px;
                        //   }
                        // }
                    }
                }
                .price {
                    text-align: right;
                    h5 {
                        color: #000;
                        font-size: 1.05vw;
                        font-family: NeoSansBold;
                        margin-bottom: 0px;
                        text-align: center;
                        margin: 13px 0 0px;
                        white-space: nowrap;
                        overflow: hidden;
                        span {
                            font-size: 24px;
                            font-family: NeoSansRegular;
                        }
                    }
                    h6 {
                        color: #000;
                        font-size: 0.6vw;
                        font-family: NeoSansBold;
                        margin-bottom: 0px;
                        margin-top: -2px;
                    }
                }
            }
            h4 {
                margin: 0px;
                h3 {
                    color: #000;
                    font-size: 28px;
                    font-family: NeoSansBold;
                    margin-bottom: 0px;
                    text-align: left;
                    margin: 16px 0 16px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 60%;
                    display: inline-block;
                    span {
                        font-family: MyriadPro-Regular;
                        font-weight: lighter;
                    }
                }
                p {
                    background-color: #b2020f;
                    float: right;
                    color: #fff;
                    padding: 4px 5px 1px;
                    margin-top: 19px;
                    border-radius: 5px;
                    font-weight: 600;
                    i {
                        margin: 1px 3px 0px;
                    }
                }
            }
            p {
                color: #000;
                font-size: 13px;
                font-family: "NeoSansRegular";
                font-weight: 400;
                margin-bottom: 2px;
            }
            .reviewSec {
                margin-top: -10px;
                ul {
                    margin-left: 0;
                    padding-left: 0;
                    margin-bottom: 0;
                    color: #000;
                    font-size: 14px;
                    list-style-position: inside;
                    font-family: NeoSansArabic;
                    li {
                        display: inline-block;
                        padding-right: 10px;
                        color: #000000;
                        img {
                            width: 10px;
                            margin: 0px 5px;
                        }
                        &:nth-child(2) {
                            &::before {
                                content: "|";
                                margin-left: 8px;
                                margin-right: 8px;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}
