.BookingProfileSec {
    min-height: calc(100vh - 70px);
    margin: 5.6% 17% 5%;
    .containerMd {
        display: grid;
        grid-template-columns: 1fr 2.4fr;
        grid-gap: 20px;
        .showStatus {
            .leftMenu {
                position: sticky;
                top: 10.9%;
                margin-bottom: 24px;
                position: -webkit-sticky;
                h2 {
                    font-size: 1.2vw;
                    color: #000;
                    font-family: NeoSansBold;
                    padding-left: 0;
                    margin-bottom: 2vh;
                    font-weight: 400;
                }
                ul {
                    margin: 0;
                    padding: 10px;
                    border-radius: 10px;
                    width: 100%;
                    border: 1px solid #ebebeb;
                    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
                    background-color: #ffffff;
                    li {
                        display: block;
                        padding: 1.8vh 0.5vw;
                        cursor: pointer;
                        width: 100%;
                        border-bottom: 1px solid #e5e5e5;
                        a {
                            font-size: 0.7vw;
                            color: #cccccc;
                            font-family: NeoSansBold;
                            cursor: pointer;
                            text-decoration: none;
                            span {
                                float: right;
                                margin-top: 6px;
                            }
                        }
                        &.active {
                            a {
                                color: #b2020f;
                                span {
                                    color: #b2020f;
                                }
                            }
                        }
                        &:last-child {
                            border-bottom: 1px solid transparent;
                        }
                    }
                }
                button {
                    width: 100%;
                    height: 6vh;
                    border: none;
                    outline: none;
                    color: #b2020f;
                    font-size: 0.7vw;
                    margin-top: 0;
                    font-family: NeoSansBold !important;
                    box-shadow: none;
                    text-align: left;
                    padding: 2.5vh 1vw 2.5vh 0;
                    border-radius: 0;
                    background-color: initial;
                    border-radius: 10px !important;
                }
            }
        }
        .smallCol {
        // --------------No Data Sec--------------------
        .NoVehicle{
        .NodataSec {
            height: 60vh;
            position: relative;
            .imageSec {
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                text-align: center;
                position: absolute;
                img {
                    width: 10vw;
                }
                p {
                    font-size: 16px;
                    color: #ccc;
                    font-family: NeoSansBold;
                    margin-bottom: 30px;
                }
            }
        }
                .buttons {
                    width: 80%;
                    margin: 0 auto;
                    .formGroup {
                    button {
                        width: 100%;
                        box-shadow: none;
                        font-size: 12px;
                        font-family: NeoSansBold;
                        padding: 11px 22px 9px;
                        outline: none;
                        margin: 0 auto;
                        &.bookVehicle {
                            color: #fff !important;
                            background-color: #b2020f;
                            border: 1px solid #b2020f;
                            border-radius: 7px;
                        }
                        &.shareVehicle {
                            color: #000 !important;
                            background-color: #fff;
                            border-radius: 7px;
                            border: 1px solid #000;
                        }
                    }
                }
            }
        }
      
    // ---------------Shar-Sec--------------
            .BookingSec {
                //   padding: 50px 30px 50px;
                position: relative;
                h3 {
                    color: #000000;
                    font-size: 0.9vw;
                    font-family: NeoSansBold;
                    margin-bottom: 2vh;
                }
                .container {
                    margin-bottom: 25px;
                }
                .carDetail {
                    background: #ffffff;
                    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
                    border-radius: 18px;
                    opacity: 1;
                    overflow: hidden;
                    display: grid;
                    grid-template-columns: 1fr 1.2fr;
                    .smallShow {
                        display: none;
                    }
                    .carImg {
                        background-color: #ffffff;
                        position: relative;
                        width: 100%;
                        height: 100%;
                        background-position: center;
                        background-size: cover;
                        img {
                            height: 100%;
                            width: 100%;
                            border-right: 1px solid rgb(233, 233, 233);
                            object-fit: cover;
                            border-radius: 18px 0px 0px 18px;
                        }
                    }
                    .carInfo {
                        .carInfoUpper {
                            padding: 4px 15px;
                            .carStatus {
                                .status {
                                    color: #fff;
                                    font-size: 12px;
                                    font-family: NeoSansBold;
                                    text-transform: uppercase;
                                    padding: 6px 23px 3px;
                                    margin-top: 1vh;
                                    line-height: 2vh;
                                    border-radius: 4px;
                                    display: inline-block;
                                    margin-bottom: 0.5rem;
                                    &.pendingStatus {
                                        background-color: #f98100;
                                    }
                                    &.acceptStatus {
                                        background-color: #009145;
                                    }
                                    &.declineStatus {
                                        background-color: #b2020f;
                                    }
                                }

                                span.floatRight {
                                    color: #b2020f;
                                    font-size: 0.7vw;
                                    font-family: NeoSansBold;
                                    cursor: pointer;
                                    margin-top: 1.8vh;
                                    img {
                                        max-width: 0.9vw;
                                    }
                                }
                            }
                            h4 {
                                color: #000;
                                font-size: 16px;
                                font-family: NeoSansBold;
                                text-align: left;
                                margin: 0 0 0.35vh;
                                overflow-wrap: break-word;

                                p {
                                    font-size: 15px;
                                    color: #676767;
                                    margin-top: 5px;
                                    margin-right: 10px;
                                    img {
                                        margin-right: 5px;
                                    }
                                }
                            }
                            h5 {
                                color: #000;
                                font-size: 11px;
                                font-family: NeoSansBold;
                                margin-bottom: 0;
                                span {
                                    font-family: NeoSansRegular;
                                }
                            }
                            h6 {
                                color: #000;
                                font-size: 12px;
                                font-family: NeoSansRegular;
                                font-weight: 400;
                                margin-bottom: 0;
                                text-align: left;
                                display: inline-block;
                            }
                            .tripinfo {
                                padding: 1.2vh 0;
                                p {
                                    font-size: 13px;
                                    font-family: NeoSansBold;
                                    margin-bottom: 0;
                                    color: #000;
                                    label {
                                        width: 58px;
                                        font-size: 10px;
                                        color: #000 !important;
                                        padding: 0;
                                        margin: 0;
                                        font-family: NeoSansBold;
                                        text-transform: uppercase;
                                        line-height: 2vh;
                                    }
                                    span {
                                        font-family: NeoSansRegular;
                                        margin-left: 10px;
                                    }
                                }
                            }
                            .viewbtn {
                                p {
                                    color: #b2020f;
                                    font-size: 11px;
                                    font-family: NeoSansBold;
                                    margin-bottom: 0;
                                    margin-top: -0.5vh;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .editSec {
                    text-align: center;
                    ul {
                        list-style-type: none;
                        margin: 0;
                        display: flex;
                        border-top: 1px solid #e5e5e5;
                        padding: 8px 0 0;
                        li {
                            display: inline-flex;
                            margin: 0 10px 8px;
                            .action {
                                border: 1px solid #000000;
                                border-radius: 7px;
                                width: 100%;
                                margin: 0 auto;
                                cursor: pointer !important;
                                text-align: center !important;
                                color: #222222 !important;
                                position: relative !important;
                                padding-top: 5px !important;
                                padding-bottom: 7px !important;
                                padding-left: 16px !important;
                                padding-right: 16px !important;

                                p {
                                    font-size: 12px;
                                    font-family: "NeoSansBold";
                                    color: #000000;
                                    margin-bottom: 0px;
                                    // background-color: transparent;
                                }
                                button {
                                    font-size: 12px;
                                    font-family: "NeoSansBold";
                                    color: #000000;
                                    background-color: transparent;
                                    padding: 0px;
                                    margin: 0;
                                    border: 0;
                                }
                            }
                            &:first-child {
                                margin-left: 0;
                            }
                        }
                    }
                }
                .smallShow {
                    display: none;
                }
            }
        }
    }
}
