.DayNamesList{
    text-align: right;
    border-bottom: 1px solid #ddd;
}
.DayName{
  display: inline-block;
  margin: 2px;
  width: 32px;
  height: 10px;
  padding: 1px;
  border: 1px solid #fff;
  text-align: center;
  -webkit-box-sizing: unset !important;
  box-sizing: unset;
  font-size: .65vw;
  background-color: #fff;
  padding: 14px 0;
  border-radius: 0;
  color: #000;
  font-family: NeoSansRegular;
}
.HijriCalender{
  width: 92%;
  direction: rtl;
  background: #ffffff;
  padding: 15px;
  border: 1px solid #ddd;
  margin-top: 2px;
  font-family: serif;
  box-sizing: unset;
  -webkit-box-sizing: unset;
  font-size: 14px;
  border-radius: 4px;
  z-index: 1000;
  color: black !important;
  transform: translate(0, -23px);
  margin: auto;
  left: 0 !important;
  right: 0 !important;
}
/* .HijriCalender::before{
  position: absolute;
  bottom: -16px;
  right: 59%;
  display: inline-block;
  content: "";
  border: 8px solid transparent;
  border-bottom-color: transparent;
  border-top-color: #dcdbdb;
}
.HijriCalender::after{
  position: absolute;
bottom: -14px;
right: 59%;
display: inline-block;
content: "";
border: 8px solid transparent;
border-top-color: #fff;
} */
.HijriCalenderControls{
    direction: rtl;
    text-align: center;
    color: #000 !important;
font-family: NeoSansBold;
font-size: 15px;
}
.ControlButton{
    position: absolute;
    border: 0px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    background-color: #fff;
    /* :hover {
      color: #888888
    }
    :focus {
      outline: unset
    } */
}