.DayNamesList{
    text-align: right;
    border-bottom: 1px solid #ddd;
}
.DayName{
    display: inline-block;
    margin: 2px;
    width: 30px;
    height: 25px;
    padding: 1px;
    border: 1px solid #fff;
    text-align: center;
    -webkit-box-sizing: unset !important;
    box-sizing: unset;
}
.HijriCalender{
    width: 266px;
  direction: rtl;
  background: #ffffff;
  padding: 15px;
  border: 1px solid #ddd;
  margin-top: 2px;
  font-family: serif;
  box-sizing: unset;
  -webkit-box-sizing: unset;
  font-size: 14px;
  border-radius: 4px;
  z-index: 1000;
  color: black !important;
}
.HijriCalenderControls{
    direction: rtl;
    text-align: center;
}
.ControlButton{
    position: absolute;
    border: 0px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    background-color: #fff;
    /* :hover {
      color: #888888
    }
    :focus {
      outline: unset
    } */
}