.carProfileSec {
    min-height: calc(100vh - 70px);
    margin: 5.6% 17% 5%;
    .containerMd {
        display: grid;
        grid-template-columns: 1fr 2.4fr;
        grid-gap: 20px;
        .showStatus {
            .leftMenu {
                position: sticky;
                top: 10.9%;
                margin-bottom: 24px;
                position: -webkit-sticky;
                h2 {
                    font-size: 1.2vw;
                    color: #000;
                    font-family: NeoSansBold;
                    padding-left: 0;
                    margin-bottom: 2vh;
                    font-weight: 400;
                }
                ul {
                    margin: 0;
                    padding: 10px;
                    border-radius: 10px;
                    width: 100%;
                    border: 1px solid #ebebeb;
                    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
                    background-color: #ffffff;
                    li {
                        display: block;
                        padding: 1.8vh 0.5vw;
                        cursor: pointer;
                        width: 100%;
                        border-bottom: 1px solid #e5e5e5;
                        a {
                            font-size: 0.7vw;
                            color: #cccccc;
                            font-family: NeoSansBold;
                            cursor: pointer;
                            text-decoration: none;
                            span {
                                float: right;
                                margin-top: 6px;
                            }
                        }
                        &.active {
                            a {
                                color: #b2020f;
                                span {
                                    color: #b2020f;
                                }
                            }
                        }
                        &:last-child {
                            border-bottom: 1px solid transparent;
                        }
                    }
                }
                button {
                    width: 100%;
                    height: 6vh;
                    border: none;
                    outline: none;
                    color: #b2020f;
                    font-size: 0.7vw;
                    margin-top: 0;
                    font-family: NeoSansBold !important;
                    box-shadow: none;
                    text-align: left;
                    padding: 2.5vh 1vw 2.5vh 0;
                    border-radius: 0;
                    background-color: initial;
                    border-radius: 10px !important;
                }
            }
        }

        // --------------No Data Sec--------------------
        .NodataSec{
            .heading {
                h3 {
                    color: #b2020f;
                    font-size: 24px;
                    font-family: NeoSansBold;
                    font-weight: 400;
                    margin-bottom: 25px;
                    margin: 16px 0 10px;
                }
                p {
                    font-size: 15px;
                    color: #000;
                    font-family: NeoSansRegular;
                    margin-top: 10px;
                }
            }
            .imageSec {
                img {
                    height: 40.5vh;
                    // width: 100%;
                    border-radius: 1.3vw;
                    max-width: 100%;
                }
            }

            .formGroup,
            .formGroup2 {
                padding: 20px 0px;
                border-bottom: 1px solid #ebebeb;
                margin-bottom: 0px;
                cursor: pointer;
                &:last-child {
                    border-bottom: none;
                }
                h6 {
                    display: block;
                    font-family: NeoSansBold;
                    font-size: 18px;
                    color: #000000;
                }
                span {
                    position: relative;
                     display: inline-block;
                     font-size: 16px;
                     color: #000;
                     font-family: NeoSansRegular;
                     img {
                        margin-right: 10px;
                        width: 32px;
                        margin-top: -3px;
                    }
                }
                span.floatRight {
                    img {
                        width: 12px;
                    }
                }
                .button {
                    height: 38px;
                    min-width: 225px;
                    font-size: 15px;
                    padding: 8px 30px;
                    background-color: #b2020f;
                    border: 1px solid #b2020f;
                    color: #fff;
                    font-family: NeoSansBold;
                    outline: none;
                    border-radius: 7px;
                    vertical-align: middle;
                }
            }
        }
            
        // ---------- vehicleDetail data-------------------------
        .vehicleDetail {
            padding: 0 10% 0 0;
            .heading {
                h3 {
                    color: #b2020f;
                    font-size: 24px;
                    font-family: NeoSansBold;
                    font-weight: 400;
                    margin-bottom: 25px;
                    margin: 16px 0 10px;
                }
                p {
                    font-size: 15px;
                    color: #000;
                    font-family: NeoSansRegular;
                    margin-top: 10px;
                }
            }

            .vehicleImg {
                border: 1px solid #ccc;
                border-radius: 14px;
                background-color: #fff;
                position: relative;
                width: 100%;
                padding-top: 55.5%;
                background-size: cover;
                // img {
                //     height: 40.5vh;
                //     // width: 100%;
                //     border-radius: 1.3vw;
                //     max-width: 100%;
                // }
                .profileHeader {
                    position: absolute;
                    z-index: 9;
                    width: 100%;
                    padding: 1% 2.5%;
                    top: 21px;
                    img {
                        cursor: pointer;
                    }
                }
                .editImg {
                    cursor: pointer;
                    position: absolute;
                    bottom: 16px;
                    right: 16px;
                    background-color: #b2020f;
                    color: #fff;
                    padding: 5px 5px 3px;
                    border-radius: 4px;
                    label {
                        cursor: pointer;
                        margin-bottom: 0;
                        font-size: 10px;
                        font-family: NeoSansBold;
                        display: block;
                    }
                }
            }
            .carInfo {
                h4 {
                    color: #000;
                    font-size: 1.2vw;
                    font-family: NeoSansBold;
                    text-align: left;
                    margin: 2vh 0 1.6vh;
                    padding: 0;
                    span {
                        font-family: NeoSansRegular;
                        font-weight: lighter;
                    }
                    p {
                        background-color: #b2020f;
                        float: right;
                        color: #fff;
                        padding: 5px 5px 1px;
                        font-size: 0.77vw;
                        margin-top: 3px;
                        margin-bottom: 0;
                        line-height: 1.7vh;
                        clear: both;
                        border-radius: 4px;
                        font-weight: 600;
                        img {
                            width: 0.7vw;
                            margin-top: -4px;
                        }
                    }
                }
                p {
                    color: #000;
                    font-size: 0.9vw;
                    margin-bottom: 10px;
                    padding: 0;
                    span {
                        font-family: NeoSansBold;
                        font-weight: lighter;
                    }
                }
                .reviewSec {
                    margin-top: 0.5vh;
                    ul {
                        margin-left: 0;
                        padding-left: 0;
                        margin-bottom: 0;
                        color: grey;
                        font-size: 0.67vw;
                        list-style-position: inside;
                        font-family: NeoSansArabic;
                        li {
                            display: inline-block;
                            padding-right: 10px;
                            &:first-child {
                                &::after {
                                    content: "|";
                                    margin-left: 7px;
                                    font-size: 0.6vw;
                                }
                            }
                            &:nth-child(2) {
                                list-style-type: disc;
                                padding-right: 0px;
                            }
                        }
                    }
                }
            }
            .formGroup {
                padding: 20px 0px;
                border-bottom: 1px solid #ebebeb;
                margin-bottom: 0px;
                cursor: pointer;
                &:last-child {
                    border-bottom: none;
                }
                h6 {
                    display: block;
                    font-family: NeoSansBold;
                    font-size: 18px;
                    color: #000000;
                }
                span {
                    display: inline-block;
                    position: relative;
                    padding-left: 2.2vw;
                    font-size: 0.9vw;
                    color: #000;
                    font-family: NeoSansBold;
                    img {
                        margin-right: 10px;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        max-width: 1.3vw;
                        height: 20px;
                        top: 2px;
                    }
                }
                span.floatRight {
                    font-size: 0.9vw;
                    font-family: NeoSansLight;
                    color: #999;
                    clear: both;
                    img {
                        width: 12px;
                        position: relative;
                        margin-right: 0px;
                        top: auto;
                        margin-left: 10px;
                    }
                }
                // ---------------Switch Button---------------------------
                .toggle {
                    input[type="checkbox"] {
                        height: 0;
                        width: 0;
                        visibility: hidden;
                        display: none;
                    }
                    label {
                        height: 26px;
                        width: 48px;
                        border-radius: 10px;
                        display: inline-block;
                        position: relative;
                        cursor: pointer;
                        background: grey;
                        border-radius: 100px;
                        position: relative;
                        &:after {
                            position: absolute;
                            content: "";
                            height: 24px;
                            width: 24px;
                            background-color: #fff;
                            box-shadow: 1px 1px 11px 2px rgba(0, 0, 0, 0.2);
                            border-radius: 50%;
                            left: 1px;
                            bottom: 0;
                            // transition: .5s;
                            top: 1px;
                        }
                    }
                    input {
                        &:checked {
                            + {
                                label {
                                    background: #b2020f;
                                    &:after {
                                        -webkit-transform: translateX(22px);
                                        -ms-transform: translateX(22px);
                                        transform: translateX(22px);
                                        top: 1px;
                                    }
                                }
                            }
                        }
                    }
                }
                button {
                    height: 38px;
                    min-width: 225px;
                    font-size: 15px;
                    padding: 8px 30px;
                    background-color: #b2020f;
                    border: 1px solid #b2020f;
                    color: #fff;
                    font-family: NeoSansBold;
                    outline: none;
                    border-radius: 7px;
                    vertical-align: middle;
                }
                &.formGroup2 {
                    padding: 20px 0px;
                    border-bottom: 1px solid #ebebeb;
                    margin-bottom: 0px;
                    cursor: pointer;
                    span {
                        position: relative;
                        font-size: 0.9vw;
                        color: #b3b3b3;
                        margin-bottom: 0;
                        font-family: NeoSansRegular;
                        padding-left: 0px;
                    }
                }
            }
            // -----------------Review-------------
            .reviewPageSec {
                .formGroup {
                    .review {
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                        li {
                            display: inline-block;
                            font-size: 0.9vw;
                            color: #000;
                            font-family: NeoSansBold;
                            &.star {
                                display: inline-block;
                                font-size: 0.9vw;
                                color: #000;
                                font-family: NeoSansBold;
                            }
                            &:last-child {
                                &::before {
                                    content: url(/images/others/icon/rentals_line.svg);
                                    margin: 0 10px;
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                    .Rating {
                        ul {
                            padding: 0;
                            margin: 0;
                            li {
                                display: block;
                                padding: 6px 0;
                                width: 100%;
                                span {
                                    font-size: 0.8vw;
                                    color: #000;
                                    font-family: NeoSansRegular;
                                    margin-bottom: 0;
                                    padding-left: 0px;
                                    .progress {
                                        width: 150px;
                                        display: inline-block;
                                        margin-right: 10px;
                                        margin-bottom: 4px;
                                        height: 4px;
                                        .dangerBar {
                                            background-color: #dc3545 !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .reviewList {
                        margin-top: 25px;
                        h3 {
                            color: #000;
                            font-size: 18px;
                            font-family: NeoSansBold;
                            margin-bottom: 20px;
                        }
                        .indivisualReview {
                            padding: 5px 0;
                            .imageSec {
                                width: 40px;
                                height: 40px;
                                display: inline-block;
                                margin-right: 20px;
                                float: left;
                                img {
                                    border-radius: 50%;
                                    width: 40px;
                                    height: 40px;
                                }
                            }
                            .name {
                                padding-top: 5px;
                                display: inline-block;
                                h6 {
                                    color: #000;
                                    font-size: 15px;
                                    font-family: NeoSansBold;
                                    margin-bottom: 0;
                                }
                                span {
                                    color: #989898;
                                    font-size: 12px;
                                    font-family: NeoSansRegular;
                                    margin-bottom: 0;
                                    padding-left: 0px;
                                }
                            }
                            p {
                                color: #000;
                                font-size: 15px;
                                font-family: NeoSansRegular;
                                margin-top: 5px;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }

            .detailHeader {
                text-align: center;
                h2 {
                    color: #b2020f;
                    font-size: 1.2vw;
                    font-family: NeoSansBold;
                    font-weight: 400;
                    margin: 16px 0 10px;
                }
            }
            // ------------insurance---------------
            .insuranceSec {
                h6 {
                    margin-bottom: 0;
                    font-size: 0.85vw;
                    font-family: NeoSansBold;
                    color: grey;
                }
                p {
                    margin-bottom: 0;
                    font-size: 0.8vw;
                    color: grey;
                    font-family: NeoSansRegular;
                    width: 100%;
                    overflow: unset;
                    text-overflow: unset;
                    white-space: unset;
                }
                .detail {
                    padding: 30px 0;
                    label {
                        font-size: 0.78vw;
                        font-family: NeoSansBold;
                        color: #000;
                        margin-bottom: 0px;
                        span {
                            color: #b2020f;
                        }
                    }
                    .customeFormGroup {
                        position: relative;
                        margin-bottom: 0;
                        margin-top: 1rem;
                        input,
                        select,
                        textarea {
                            width: 100%;
                            height: 25px;
                            border: none;
                            outline: none;
                            border-bottom: 1px solid #00000030;
                            font-size: 0.82vw;
                            padding: 0px 0px 0 0px;
                            color: #999;
                            font-family: NeoSansRegular;
                            box-shadow: none;
                            border-radius: 0px;
                            background-color: transparent;
                        }
                        img {
                            position: absolute;
                            top: 28px;
                            left: 5px;
                            height: 15px;
                        }
                    }
                    .optionSec {
                        p {
                            padding: 0 0 5px !important;
                            span {
                                margin-bottom: 0;
                                font-size: 0.8vw;
                                color: #b3b3b3;
                                font-family: NeoSansBold;
                                img {
                                    max-width: 9vw;
                                    margin-top: -15px;
                                }
                            }
                        }
                        h4 {
                            margin-bottom: 20px;
                            margin-top: 30px;
                            font-size: 0.85vw;
                            font-family: NeoSansBold;
                            color: #000;
                        }
                        .sendBtn {
                            width: fit-content;
                            box-shadow: none;
                            color: #fff;
                            font-size: 12px;
                            font-family: NeoSansBold;
                            padding: 11px 22px 9px;
                            border-radius: 7px;
                            border: none;
                            outline: none;
                            margin: 0 auto;
                            margin-top: 15px;
                            border: 1px solid #b2020f;
                            background-color: #b2020f;
                            &:disabled {
                                color: #000;
                            }
                            &.continue {
                                border: 1px solid #000000;
                                background-color: #ffffff;
                                margin-left: 10px;
                                color: #000;
                            }
                        }
                    }
                }

                // ---------vehicle Photo------------
                .photoUl {
                    margin: 30px 0 0;
                    padding: 0;
                    list-style-type: none;
                    li {
                        padding: 5px 0;
                        p {
                            color: #000;
                            img {
                                width: 15px;
                                height: 15px;
                                margin-top: 0;
                                margin-right: 10px;
                            }
                        }
                    }
                }
                
            }
            .photoSection {
                margin-top: 30px;
                .ImgArea {
                    padding: 0 4px;
                    padding-right: 4px;
                    margin: 0 auto;
                    &:nth-child(odd) {
                        padding-left: 0;
                    }
                    &:nth-child(even) {
                        padding-right: 0;
                    }
                    p {
                        font-size: 0.7vw;
                        margin-top: 5px;
                        margin-bottom: 8px;
                        text-align: center;
                        color: #666;
                        font-family: NeoSansRegular;
                        width: 100%;
                        text-overflow: unset;
                        white-space: unset;
                    }
                    .imageBox {
                        background-color: #fff;
                        position: relative;
                        width: 100%;
                        padding-top: 50%;
                        background-position: 50% !important;
                        border: 1px solid #ccc;
                        border-radius: 7px;
                        background-size: cover;
                        background-position: center;
                        &.front {
                            background-image: url(/images/others/icon/car_one.png);
                            background-size: cover;
                            background-position: center;
                        }
                        &.side {
                            background: url(/images/others/icon/car_two.png);
                            background-size: cover;
                            background-position: center;
                        }
                        &.back {
                            background: url(/images/others/icon/car_three.png);
                            background-size: cover;
                            background-position: center;
                        }
                        &.interior {
                            background: url(/images/others/icon/car_four.png);
                            background-size: cover;
                            background-position: center;
                        }
                        &.addNew {
                            p.AddText {
                                position: absolute;
                                transform: translate(-50%, -50%);
                                top: 65%;
                                left: 50%;
                                font-size: 0.6vw;
                                font-family: NeoSansRegular;
                                margin-bottom: 0;
                            }
                        }
                        .counter {
                            position: absolute;
                            top: 10px;
                            left: 10px;
                            cursor: pointer;
                            width: 22px;
                            height: 22px;
                            background-color: #fff;
                            box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
                            border-radius: 50%;
                            text-align: center;
                            label {
                                font-size: 11px;
                                font-family: NeoSansBold;
                                color: #000;
                                margin-top: 5px;
                                display: block;
                            }
                        }
                        .addBtn {
                            position: absolute;
                            transform: translate(-50%, -50%);
                            top: 50%;
                            left: 50%;
                            cursor: pointer;
                            width: 1vw;
                        }
                        .dragBtn {
                            position: absolute;
                            top: 10px;
                            right: 10px;
                            cursor: pointer;
                            width: 17px;
                            pointer-events: auto;
                        }
                    }
                }
            }
        }
        // ---------------Shar-Sec--------------
        .ShareSec {
            //   padding: 50px 30px 50px;
            position: relative;
            h3 {
                color: #000000;
                font-size: 0.9vw;
                font-family: NeoSansBold;
                margin-bottom: 2vh;
            }
            .container {
                margin-bottom: 25px;
            }
            .carDetail {
                background: #ffffff;
                box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.1);
                border-radius: 18px;
                opacity: 1;
                overflow: hidden;
                display: grid;
                grid-template-columns: 1fr 1.2fr;
                .smallShow {
                    display: none;
                }
                .carImg {
                    background-color: #ffffff;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-size: cover;
                    img {
                        height: 100%;
                        width: 100%;
                        border-right: 1px solid rgb(233, 233, 233);
                        object-fit: cover;
                        border-radius: 18px 0px 0px 18px;
                    }
                }
                .carInfo {
                    .carInfoUpper {
                        padding: 0vw 1vw 0.2vw;
                        margin-bottom: 4px;
                        .rating {
                            margin-top: 2vh;
                            p {
                                line-height: 12px;
                                width: 3vw;
                                margin-bottom: 1.1vh;
                                background-color: #b2020f;
                                color: #fff;
                                text-align: center;
                                padding: 5px 0px 2px;
                                border-radius: 5px;
                                font-weight: 400;
                                font-size: 0.75vw;
                                margin-top: -7px !important;
                                display: inline-block;
                                font-family: NeoSansBold;
                                img {
                                    width: 0.8vw;
                                    margin-top: -3px;
                                }
                            }
                        }
                        h4 {
                            color: #000;
                            font-size: 1.1vw;
                            font-family: NeoSansBold;
                            text-align: left;
                            margin: 2vh 0vh 1vh;
                            // white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: grid;
                            grid-template-columns: 4.3fr 1fr;
                            span.floatRight {
                                color: #b2020f;
                                font-size: 0.7vw;
                                font-family: NeoSansBold;
                                cursor: pointer;
                                // margin-top: 4px;
                                img {
                                    max-width: 0.9vw;
                                }
                            }
                            p {
                                font-size: 15px;
                                color: #676767;
                                margin-top: 5px;
                                margin-right: 10px;
                                img {
                                    margin-right: 5px;
                                }
                            }
                        }
                        h5 {
                            border: 1px solid #969696;
                            border-radius: 5px;
                            opacity: 1;
                            color: #000000;
                            font-size: 0.65vw;
                            font-family: "NeoSansLight";
                            margin-bottom: 10px;
                            text-align: left;
                            display: inline-block;
                            padding: 8px 10px 5px;
                        }
                        ul {
                            margin-left: 0;
                            padding-left: 0;
                            margin-bottom: 0;
                            color: #000;
                            font-size: 0.66vw;
                            list-style-position: inside;
                            font-family: NeoSansArabic;
                            li {
                                display: inline-block;
                                padding-right: 10px;
                                &:first-child {
                                    &::after {
                                        background-image: url(/images/others/icon/rentals_line.svg);
                                        background-size: 10px 20px;
                                        display: inline-block;
                                        width: 5px;
                                        height: 12px;
                                        margin-left: 4px;
                                        content: "";
                                        margin-bottom: -1px;
                                    }
                                }
                                img {
                                    width: 10px;
                                    margin: 0px 5px;
                                }
                                &:nth-child(2) {
                                    list-style-type: disc;
                                }
                            }
                        }
                        h6 {
                            color: #000;
                            font-size: 12px;
                            font-family: "MyriadPro-Regular";
                            font-weight: 400;
                            margin-bottom: 0px;
                        }
                    }
                    .starRating {
                        display: flex;
                        flex-direction: row-reverse;
                        font-size: 1.5em;
                        justify-content: space-around;
                        padding: 0 0.2em;
                        text-align: center;
                        width: 4em;
                        margin-left: 0px;
                        margin-bottom: 22px;
                        input {
                            display: none;
                        }
                        label {
                            color: #ccc;
                            cursor: pointer;
                            margin-bottom: 0px;
                        }
                        :checked ~ label {
                            color: #f90;
                        }
                        label:hover {
                            color: #fc0;
                            ~ label {
                                color: #fc0;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
            .editSec {
                text-align: center;
                padding: 1.2vh 0vw;
                border-top: 1px solid #e5e5e5;
                .action {
                    width: 95%;
                    margin: 0 auto;
                    cursor: pointer !important;
                    text-align: center !important;
                    img {
                        width: 14px;
                        margin-top: -4px;
                    }
                    p {
                        font-size: 12px;
                        font-family: "NeoSansBold";
                        color: #000000;
                        margin-bottom: 0px;
                        // background-color: transparent;
                    }
                    button {
                        font-size: 12px;
                        font-family: "NeoSansBold";
                        background-color: transparent;
                    color: rgb(34, 34, 34) ;
                    position: relative !important;
                    padding-top: 9px !important;
                    padding-bottom: 7px !important;
                    padding-left: 16px !important;
                    padding-right: 16px !important;
                    border: 1px solid #000000;
                    border-radius: 7px;
                    width: 100%;
                    }
                    // &.actionButton {
                    //     padding-top: 3px !important;
                    // }
                    &.parkBtn {
                        button {
                            color: rgb(249, 129, 0);
                        border: 1px solid rgb(249, 129, 0);
                        }
                    }
                    &.shareBtn {
                        button {
                            color: #39b14a;
                        border: 1px solid #39b14a;
                        }
                    }
                }
            }
            .smallShow {
                display: none;
            }
        }
    }
}

// --------------Responsive------------------

@media (max-width: 1100px) {
    .carProfileSec {
        margin: 9.6% 4% 0%;
    }
}
@media (max-width: 1024px) {
    .carProfileSec {
        margin: 12.6% 4% 0% !important;
        .containerMd {
            grid-template-columns: 1fr !important;
            .showStatus {
                .leftMenu {
                    top: 10.9% !important;
                    h2 {
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
                    ul {
                        li {
                            a {
                                font-size: 11px;
                            }
                        }
                    }
                }
            }
            .ShareSec {
                .carDetail {
                    margin-bottom: 5px;
                    .carInfo {
                        .carInfoUpper {
                            h5 {
                                font-size: 10px;
                                letter-spacing: 0.5px;
                            }
                            ul {
                                font-size: 9px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .carProfileSec {
        margin: 88px 15px 0;
        .containerMd {
            .smallCol {
                padding: 0px !important;
                .ShareSec {
                    .editSec {
                        border: none;
                        margin-bottom: 8px;
                        padding-top: 0px;
                    }
                    h3 {
                        font-size: 12px;
                    }
                    .carDetail {
                        margin-bottom: 5px;
                        .carInfo {
                            .carInfoUpper {
                                // padding: 10px;
                                .rating {
                                    margin-top: 0.5rem !important;
                                }
                                h4 {
                                    font-size: 11px;
                                    grid-template-columns: 3fr 1fr;
                                    margin-bottom: 5px;
                                    span.floatight {
                                        font-size: 8px;
                                        img {
                                            max-width: 8px;
                                        }
                                    }
                                }
                                h5 {
                                    font-size: 8px;
                                    padding: 5px 5px 3px;
                                    margin-bottom: 0;
                                }
                                .rating {
                                    margin-top: 1.5rem !important;
                                    p {
                                        width: 32px;
                                        font-size: 9px;
                                        padding: 3px 0px 1px;
                                        border-radius: 4px;
                                        img {
                                            width: 9px;
                                            margin-top: -1px;
                                        }
                                    }
                                }
                                ul {
                                    font-size: 9px;
                                }
                            }
                            .smallHide {
                                display: none;
                            }
                        }
                    }
                    .editSec {
                        .action {
                            border-radius: 5px;
                            padding-top: 5px !important;
                            padding-bottom: 4px !important;
                            text-align: center !important;
                            padding-left: 7px !important;
                            padding-right: 7px !important;
                            p {
                                font-size: 9px !important;
                            }
                        }
                    }
                    .smallShow {
                        display: block;
                    }
                }
                .NodataSec {
                    .heading {
                        h3 {
                            font-size: 13px !important;
                            color: #b2020f;
                        }
                        p {
                            font-size: 10px !important;
                        }
                    }
                    .imageSec {
                        img {
                            height: auto;
                        }
                    }
                    .formGroup,
                    .formGroup2 {
                        .button {
                            font-size: 11px;
                            min-width: 120px;
                            padding: 9px 22px 6px;
                            border-radius: 4px;
                            height: auto;
                        }
                        h6 {
                            font-size: 11px !important;
                        }
                        span {
                            font-size: 10px !important;
                            padding-right: 40px !important;
                        }
                        .floatRight {
                            padding-right: 0px !important;
                        }
                        button {
                            min-width: 120px !important;
                            font-size: 11px !important;
                            padding: 9px 22px 6px !important;
                            border-radius: 4px !important;
                        }
                    }
                }
            }
            button {
                font-size: 12px;
            }
        }
    }
}

@media (max-width: 768px) and (min-width: 551px) {
    .carProfileSec {
        .containerMd {
            .ShareSec {
                .editSec {
                    border: none;
                    margin-bottom: 8px;
                    padding-top: 0px;
                }
                h3 {
                    font-size: 12px;
                }
                .carDetail {
                    margin-bottom: 5px;
                    .carInfo {
                        .carInfoUpper {
                            padding: 10px;
                            .rating {
                                margin-top: 0.5rem !important;
                            }
                            h4 {
                                font-size: 11px;
                                grid-template-columns: 3fr 1fr;
                                margin-bottom: 5px;
                                span.floatRight {
                                    font-size: 8px;
                                    img {
                                        max-width: 8px;
                                    }
                                }
                            }
                        }
                        .smallHide {
                            display: none;
                        }
                    }
                }
                .smallShow {
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 550px) and (min-width: 320px) {
    .carProfileSec {
        .containerMd {
            .ShareSec {
                .editSec {
                    border: none;
                    margin-bottom: 8px;
                    padding-top: 0px;
                }
                h3 {
                    font-size: 12px;
                }
                .carDetail {
                    margin-bottom: 5px;
                    .carInfo {
                        .carInfoUpper {
                            .rating {
                                margin-top: 1.5rem !important;
                            }
                            h4 {
                                font-size: 11px;
                                grid-template-columns: 3fr 1fr;
                                span.floatRight {
                                    font-size: 8px;
                                    img {
                                        max-width: 8px;
                                    }
                                }
                            }
                        }
                        .smallHide {
                            display: none;
                        }
                    }
                }
                .smallShow {
                    display: block;
                }
            }
        }
    }
}
