.customeModal {
    bottom: auto;
    /* -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%); */
    margin: auto;
    height: fit-content;
    max-width: 44vw;
    z-index: 9999;
    border-radius: 17px;
    position: absolute;
    background: #fff;
    padding: 0px;
    transform: translate(-50%, -50%) !important;
    left: 50% !important;
    top: 50% !important;
    .dialogBox {
        margin: 0 !important;
        border-radius: 19px !important;
        overflow: hidden !important;
        // padding: 22px 35px;
        max-height: 89vh !important;
        overflow-y: auto !important;
        .close {
            position: absolute;
            right: 15px;
            top: 10px;
            z-index: 30;
            font-family: NeoSansRegular;
        }
        .sendBtn {
            width: 100%;
            box-shadow: none;
            color: #fff;
            font-size: 12px;
            font-family: NeoSansBold;
            padding: 11px 22px 9px;
            border-radius: 7px;
            border: none;
            outline: none;
            margin: 0 auto;
            margin-top: 30px;
            border: 1px solid #b2020f;
            background-color: #b2020f;
        }
        .backBtn,
        .continueBtn {
            width: 100%;
            box-shadow: none;
            color: #000000;
            font-size: 11px;
            font-family: NeoSansBold;
            padding: 11px 22px 9px;
            border-radius: 7px;
            border: none;
            outline: none;
            margin: 0 auto;
            margin-top: 30px;
            border: 1px solid #000000;
            background-color: #fff;
        }
        .sendBtn1 {
            width: 100%;
            font-size: 0.7vw;
            padding: 11px 22px 9px;
            border-radius: 7px;
            border: none;
            outline: none;
            margin: 0 auto;
            box-shadow: none;
            margin-top: 8px;
            font-family: NeoSansBold;
            border: 1px solid #000000;
            background-color: #ffffff;
            color: #000000;
            cursor: pointer;
        }

        .smallHide {
            position: relative;
            // margin-left: 25px;
            .bannerSec {
                background: url("../public/images/others/home/background.png");
                background-repeat: repeat;
                background-size: auto;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                overflow: hidden;
                height: 100%;
                border-radius: 0rem;
                .detailText {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 21%;
                    left: 50%;
                    width: 80%;
                    z-index: 6;
                    text-align: center;
                    h6 {
                        color: #fff;
                        font-size: 1.1vw;
                        font-family: NeoSansRegular;
                    }
                }
                .detailTextFooter {
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 91%;
                    left: 50%;
                    width: 80%;
                    z-index: 6;
                    text-align: center;
                    h6 {
                        color: #fff;
                        font-size: 0.85vw;
                        font-family: NeoSansRegular;
                    }
                }
            }
        }

        // ----------------form-------------------
        form {
            margin-top: 0rem;
            label {
                font-size: 0.78vw;
                font-family: NeoSansBold;
                color: #000;
                margin-bottom: 0px;
                span {
                    color: #b2020f;
                }
            }
            .customeFormGroup {
                position: relative;
                margin-bottom: 0;
                margin-top: 1rem;
                p {
                    font-family: MyriadPro-Regular;
                    font-size: 15px;
                    color: #666666;
                    margin: 5px 0 0;
                    text-align: center;
                }
                input,
                select {
                    width: 100%;
                    height: 23px;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid #00000030;
                    font-size: 0.82vw;
                    padding: 0px 0px 0 5px;
                    color: #495057;
                    font-family: NeoSansRegular;
                    box-shadow: none;
                    border-radius: 0px;
                    background-color: #fff;
                }
                .photoSec {
                    width: 100%;
                    height: 14vw;
                    object-fit: cover;
                    overflow: hidden;
                    border: 1px solid #00000030;
                    img {
                        width: 100%;
                        object-fit: cover;
                        height: 100%;
                    }
                }
                .radio {
                    margin: 0rem;
                    input[type="radio"] {
                        position: absolute;
                        opacity: 0;
                        + .radioLabel {
                            &:before {
                                content: "";
                                background: #fff;
                                border-radius: 100%;
                                border: 1px solid #b2020f;
                                display: inline-block;
                                width: 18px;
                                height: 18px;
                                position: relative;
                                // top: -0.1em;
                                margin-right: 1em;
                                vertical-align: top;
                                cursor: pointer;
                                text-align: center;
                                transition: all 250ms ease;
                            }
                        }
                        &:checked {
                            + .radioLabel {
                                &:before {
                                    background-color: #b2020f;
                                    border: 1px solid#b2020f;
                                    box-shadow: inset 0 0 0 3px#fff;
                                }
                            }
                        }
                        &:focus {
                            + .radioLabel {
                                &:before {
                                    outline: none;
                                    border-color: #b2020f;
                                }
                            }
                        }
                        &:disabled {
                            + .radioLabel {
                                &:before {
                                    box-shadow: inset 0 0 0 4px#f4f4f4;
                                    border-color: darken(#f4f4f4, 25%);
                                    background: darken(#f4f4f4, 25%);
                                }
                            }
                        }
                        + .radioLabel {
                            color: #495057;
                            font-family: NeoSansRegular;
                            letter-spacing: 0px;
                            opacity: 1;
                            font-size: 0.82vw;
                            margin-bottom: 0;
                            opacity: 1;
                            margin-bottom: 0;
                            &:empty {
                                &:before {
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }
            .OtpSec {
                p {
                    color: #000;
                    text-align: center;
                    font-size: 1.2vw;
                }
                input {
                    margin: 0 5px;
                    text-align: center;
                    line-height: 80px;
                    outline: none;
                    width: 20%;
                    transition: all 0.2s ease-in-out;
                    // border-radius: 3px;
                }
            }
            .phoneInput {
                input {
                    padding-left: 48px;
                }
            }
            a {
                color: #000;
                text-decoration: underline;
                font-size: 0.6rem;
            }
        }
        /* ProgressBar */
        .progressBar {
            counter-reset: step;
            padding-left: 0;
            li {
                position: relative;
                list-style: none;
                float: left;
                width: 33.33%;
                text-align: center;
                font: 500 13px/20px Poppins-medium;
                letter-spacing: 0px;
                color: #0c101a;
                opacity: 1;
                margin-bottom: 5px;
                margin-top: 10px;

                span {
                    width: 105px;
                    display: block;
                    margin: auto;
                }
                &:before {
                    content: counter(step);
                    counter-increment: step;
                    height: 1.6vw;
                    width: 1.6vw;
                    display: block;
                    text-align: center;
                    margin: 0 auto 10px auto;
                    border-radius: 50%;
                    background: #999999;
                    z-index: 999;
                    position: relative;
                    letter-spacing: 0px;
                    line-height: 1.7vw;
                    font-size: 0.8vw;
                    font-family: NeoSansBold;
                    color: #fff;
                }
                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: #999999;
                    top: 10px;
                    left: -50%;
                    z-index: 0;
                }
                &:first-child {
                    &:before {
                        margin: 0 auto 10px 0;
                    }
                    &:after {
                        content: none;
                    }
                }
                &:nth-child(2) {
                    &:after {
                        left: -80%;
                        width: 120%;
                    }
                }
                &:last-child {
                    &:before {
                        margin: 0 0 10px auto;
                    }
                    &::after {
                        left: -40%;
                        width: 120%;
                    }
                }
                // &:first-child {
                //     &:after {
                //         content: none;
                //     }
                // }
                &.Active {
                    color: #00ed97;
                    &:before {
                        // background: #2c52da;
                        background: #b2020f;
                        opacity: 1;
                        color: #fff;
                        content: counter(step);
                        counter-increment: step;
                    }

                    &:after {
                        background: #b2020f;
                    }
                }
            }
        }
        .rangInput{
            label{
                color: #000 !important;
    font-family: NeoSansRegular;
    font-weight: 700;
    font-size: 12px;
            }
            input{
                width: 100%;
            }
        }
    }
}
// ----------------login Modal-------------------
.customeLoginModal {
    .loginSec {
        display: grid;
        grid-template-columns: 1fr 1.25fr;
        margin: 0px 0 0;
        .loginPadding {
            padding: 1rem 1.3rem 2rem;
            h3 {
                font-size: 1.35vw;
                color: #000000;
                letter-spacing: 0.4px;
                font-family: NeoSansArabic;
                font-weight: 400;
                margin-top: 16px;
                margin-bottom: 5px;
            }
            h6 {
                font-size: 0.68vw;
                color: #000000;
                font-family: NeoSansRegular;
                letter-spacing: 0.4px;
                font-weight: 400;
                margin-bottom: 0px;
            }
            form {
                margin-top: 1.5rem;
                label {
                    font-size: 0.78vw;
                    font-family: NeoSansBold;
                    color: #000;
                    margin-bottom: 0px;
                }
                .customeFormGroup {
                    position: relative;
                    margin-bottom: 0;
                    margin-top: 1rem;
                    input {
                        width: 100%;
                        height: 23px;
                        border: none;
                        outline: none;
                        border-bottom: 1px solid #00000030;
                        font-size: 0.82vw;
                        padding: 0px 0px 0 25px;
                        color: #495057;
                        font-family: NeoSansRegular;
                        box-shadow: none;
                        border-radius: 0px;
                    }
                    img {
                        position: absolute;
                        top: 28px;
                        left: 5px;
                        height: 15px;
                    }
                }
                a {
                    color: #000;
                    text-decoration: underline;
                    font-size: 0.6rem;
                }
            }
        }
    }
}

// ----------------SignUp Modal-------------------
.customeSignUpModal {
    max-width: 28vw;
    .dialogBox {
        .registrationSec {
            padding: 30px;
            h5 {
                font-size: 1.1vw;
                font-family: NeoSansBold;
                color: #b2020f;
                margin-bottom: 10px;
            }
            p {
                font-size: 0.82vw;
                color: #999999;
                padding: 0;
                margin: 0 0 30px 0;
            }
            &.onlyHeading {
                h5 {
                    margin-bottom: 25px;
                }
                .sendBtn,
                .backBtn {
                    margin-top: 0px;
                }
                .colseBtn {
                    position: absolute;
                    right: -4px;
                    top: -24px;
                    font-family: NeoSansRegular;
                }
            }
            .action {
                border: 1px solid #000000;
                border-radius: 7px;
                width: 95%;
                margin: 0 auto;
                cursor: pointer !important;
                text-align: center !important;
                color: rgb(34, 34, 34) !important;
                position: relative !important;
                padding-top: 9px !important;
                padding-bottom: 7px !important;
                padding-left: 16px !important;
                padding-right: 16px !important;
                img {
                    width: 14px;
                    margin-top: -4px;
                }
                p {
                    font-size: 12px;
                    font-family: "NeoSansBold";
                    color: #000000;
                    margin-bottom: 0px;
                    // background-color: transparent;
                }
                button {
                    font-size: 12px;
                    font-family: "NeoSansBold";
                    color: #000000;
                    background-color: transparent;
                    padding: 0px;
                    margin: 0;
                    border: 0;
                }
                &.actionButton {
                    padding-top: 3px !important;
                }
                &.parkBtn {
                    border: 1px solid rgb(249, 129, 0);
                    button {
                        color: rgb(249, 129, 0);
                    }
                }
                &.shareBtn {
                    border: 1px solid #39b14a;
                    button {
                        color: #39b14a;
                    }
                }
            }
            .imageActionButton {
                margin-bottom: 25px;
                button {
                    cursor: pointer !important;
                    text-align: center !important;
                    position: relative !important;
                    font-family: "NeoSansBold";
                    background-color: transparent;
                    width: 19.23%;
                    border: 1px solid #000;
                    border-radius: 7px !important;
                    color: #000;
                    display: inline-block;
                    line-height: 16px;
                    padding: 8px 0;
                    font-size: 11px;
                    margin: 0 2px;
                    &:first-child {
                        margin-left: 0px;
                    }
                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }
            .imageActionSection {
                h5 {
                    font-size: 20px;
                    font-family: NeoSansRegular;
                }
                .imageArea {
                    display: flex;
                    position: relative;
                    width: 100%;
                    max-width: 100%;
                    max-height: 100%;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &.cropped {
                        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
                    }
                }
            }
            .content {
                ul {
                    list-style-type: none;
                    padding: 0;
                    margin: 0 auto;
                    width: 72%;
                    li {
                        padding: 5px 0;
                        img {
                            width: 35px;
                            height: 35px;
                            max-width: 75px;
                            margin-bottom: 10px;
                            cursor: pointer;
                        }
                        p {
                            font-size: 20px;
                            font-family: NeoSansRegular;
                            margin-bottom: 0;
                            margin-top: 5px;
                            color: #666;
                            cursor: pointer;
                        }
                    }
                }
            }
            .HeadingSection {
                text-align: center;
                padding: 20px 0;
                p {
                    margin-bottom: 2px;
                    color: #ccc;
                }
            }
        }
    }
}
.disable {
    opacity: 1 !important;
    font-size: 0.7vw;
    outline: none;
    box-shadow: none;
    margin-top: 10px;
    cursor: not-allowed !important;
    font-family: NeoSansBold;
    color: #9aaec1;
    cursor: pointer;
}
// --------------------Add Car modal--------------
.customeAddCarModal {
    max-width: 28vw;
    .dialogBox {
        .registrationSec {
            padding: 30px;
            h5 {
                font-size: 1.1vw;
                font-family: NeoSansBold;
                color: #b2020f;
                margin-bottom: 10px;
            }
            p {
                font-size: 0.82vw;
                color: #999999;
                padding: 0;
                margin: 0 0 6px 0;
            }
            /* Circles */
            .progressBar {
                counter-reset: step;
                padding-left: 0;
                width: 106%;
                margin-left: -13px;
                li {
                    position: relative;
                    list-style: none;
                    float: left;
                    width: 16.5%;
                    text-align: center;
                    font: 500 13px/20px Poppins-medium;
                    letter-spacing: 0px;
                    color: #0c101a;
                    opacity: 1;
                    margin-bottom: 5px;
                    margin-top: 10px;
                    span {
                        width: 105px;
                        display: block;
                        margin: auto;
                    }
                    &:before {
                        content: counter(step);
                        counter-increment: step;
                        height: 1.6vw;
                        width: 1.6vw;
                        display: block;
                        text-align: center;
                        margin: 0 auto 10px auto;
                        border-radius: 50%;
                        background: #999999;
                        z-index: 999;
                        position: relative;
                        letter-spacing: 0px;
                        line-height: 1.7vw;
                        font-size: 0.8vw;
                        font-family: NeoSansBold;
                        color: #fff;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background: #999999;
                        top: 14px;
                        left: -50%;
                        z-index: 0;
                    }
                    &:first-child {
                        &:after {
                            content: none;
                        }
                    }
                    &.Active {
                        color: #00ed97;
                        &:before {
                            // background: #2c52da;
                            background: #b2020f;
                            opacity: 1;
                            color: #fff;
                            content: counter(step);
                            counter-increment: step;
                        }

                        &:after {
                            background: #b2020f;
                        }
                    }
                }
            }
            .addCarSec {
                .carBanner {
                    width: 100%;
                    height: 19.5vh;
                    object-fit: cover;
                    overflow: hidden;
                    img {
                        width: 100%;
                        object-fit: cover;
                        height: 100%;
                    }
                }
                .mapSec {
                    width: 100%;
                    height: 24vh;
                    object-fit: cover;
                    overflow: hidden;
                    .mapDiv {
                        width: 100%;
                        height: 100% !important;
                    }
                }
                p {
                    font-size: 0.7vw;
                    color: #000;
                    font-family: NeoSansRegular;
                    margin-top: 1.3vh;
                    margin-bottom: 0.5vh;
                    display: inline-block;
                    width: 100%;
                    &.editPara {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                span.editButton {
                    font-family: NeoSansBold !important;
                    font-size: 0.7vw !important;
                    float: right;
                    clear: both;
                    color: #b2020f;
                    cursor: pointer;
                    margin-top: 10px;
                }

                .deliveryLocation {
                    padding: 25px 0;
                    border-top: 1px solid #e5e5e5;
                    margin-top: 25px;
                    p {
                        font-size: 0.82vw;
                        color: #999999;
                        padding: 0;
                        margin: 0 0 6px 0;
                        width: 100%;
                        white-space: unset;
                    }
                }
                .Calendar {
                    padding: 10px;
                    border-radius: 0 0 3px 3px;
                    min-height: 232px;
                    min-width: 440px;
                    .calenderHead {
                        width: 100%;
                        text-align: center;
                        color: #000 !important;
                        font-family: NeoSansBold;
                        font-size: 16px;
                        line-height: 30px;
                    }
                    table {
                        width: 100%;
                        border-collapse: initial;
                        border-spacing: 0;
                        text-align: center;
                        tr {
                            th {
                                background-color: #f5f4f5;
                                padding: 15px 0;
                                border-radius: 0;
                                color: #000;
                                font-family: NeoSansRegular;
                                font-size: 13px;
                                font-weight: 400;
                                text-align: center;
                            }
                        }
                        tbody {
                            tr {
                                td {
                                    width: 14.25%;
                                    height: 40px;
                                    line-height: 40px;
                                    span {
                                        border-radius: 5px;
                                        margin-bottom: 5px;
                                        margin-top: 5px;
                                        color: #54708b;
                                        font-family: NeoSansRegular;
                                        font-size: 13px;
                                        text-align: center;
                                        position: relative;
                                        padding: 0;
                                        width: 100%;
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                    .calendarInfo {
                        font-family: NeoSansRegular;
                        p {
                            font-size: 0.7vw;
                            color: grey;
                            margin-top: 30px;
                            margin-bottom: 0;
                            width: 100%;
                            white-space: unset;
                            padding: 0;
                        }
                        ul {
                            list-style-type: none;
                            margin: 0;
                            padding: 0;
                            li {
                                width: 25%;
                                display: inline-block;
                                text-align: center;
                                margin-bottom: 2vh;
                                .box {
                                    height: 16px;
                                    width: 16px;
                                    border-radius: 50%;
                                    margin-right: 7px;
                                    margin-bottom: -3px;
                                    display: block;
                                    float: left;
                                    &.available {
                                        background-color: #fff;
                                        border: 1px solid #000;
                                    }
                                    &.not {
                                        background-color: #ccc;
                                        border: 1px solid #ccc;
                                    }

                                    &.booked {
                                        background-color: #009145;
                                        border: 1px solid #009145;
                                    }
                                    &.pending {
                                        background-color: #f98100;
                                        border: 1px solid #f98100;
                                    }
                                }
                                p {
                                    display: inline-block;
                                    margin-bottom: 0;
                                    font-size: 0.65vw;
                                    margin-top: 0px;
                                    width: calc(100% - 25px);
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
                // ----bookingDetailSec-------
                .bookingDetailSec {
                    .RadioSec {
                        padding: 15px 0 11px;
                        border-bottom: 1px solid #e5e5e5;
                        p {
                            font-size: 0.62vw;
                            color: grey;
                            font-family: NeoSansRegular;
                            margin-top: 1.2vh;
                            margin-bottom: 1.2vh;
                            .floatRight {
                                color: #b2020f;
                                font-size: 0.68vw;
                                // cursor: pointer;
                                font-weight: 800;
                            }
                            button {
                                background: transparent;
                                border: 0px;
                                padding: 0;
                                margin-right: 13px;
                                width: 16px;
                                img {
                                    width: 100%;
                                }
                            }
                            label{
                                position: relative;
                                padding-left: 28px;
                                cursor: pointer;
                                color: grey;
                            }
                            [type="radio"] {
                                &:checked {
                                    position: absolute;
                                    left: -9999px;
                                    + {
                                        label {
                                            &:before {
                                                content: "";
                                                position: absolute;
                                                left: 0;
                                                top: 0;
                                                width: 18px;
                                                height: 18px;
                                                // border: 1px solid #ddd;
                                                background: #fff;
                                                background-image: url(/images/others/icon/sucess_unsel.svg);
                                                border-radius: 100%;
                                                background-repeat: no-repeat;
                                                background-size: cover;
                                            }
                                            &:after {
                                                content: "";
                                                background-image: url(/images/others/icon/sucess_icon_sel.svg);
                                                position: absolute;
                                                top: 0px;
                                                left: 0px;
                                                transition: all 0.2s ease;
                                                opacity: 1;
                                                width: 18px;
                                                height: 18px;
                                                border-radius: 100%;
                                                background-repeat: no-repeat;
                                                background-size: cover;
                                            }
                                        }
                                    }
                                }
                                &:not(:checked) {
                                    position: absolute;
                                    left: -9999px;
                                    + {
                                        label {
                                            &:before {
                                                content: "";
                                                position: absolute;
                                                left: 0;
                                                top: 0;
                                                width: 18px;
                                                height: 18px;  
                                                background-image: url(/images/others/icon/sucess_unsel.svg);
                                                border-radius: 100%;
                                                background-repeat: no-repeat;
                                                background-size: cover;
                                            }
                                           
                                        }
                                    }
                                }
                            }
                        }
                        &:first-child {
                            border-top: 1px solid #e5e5e5;
                            margin-top: 15px;
                        }
                        &:last-child {
                            border-bottom: 0px solid #e5e5e5;
                        }
                    }
                }
            }
            form {
                .editPriceSec {
                    margin-top: 30px;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    height: 35vh;
                    padding-right: 5px;
                    h4 {
                        color: grey;
                        font-size: 0.85vw;
                        font-family: NeoSansBold;
                        margin-bottom: 10px;
                    }
                    p {
                        color: grey;
                        font-size: 0.7vw;
                        font-family: NeoSansRegular;
                        margin: 0 0 30px;
                        width: 100%;
                        display: inline-block;
                        white-space: unset;
                        overflow: unset;
                        text-overflow: unset;
                        text-align: left;
                    }
                    .editPriceBtn {
                        padding: 2.5% 0;
                        margin-bottom: 0;
                        cursor: pointer !important;
                        width: 100%;
                        text-align: left;
                        background: transparent;
                        border: 0px;
                        border-bottom: 1px solid #ebebeb;
                        text-align: left;
                        span {
                            position: relative;
                            // padding-left: 2.2vw;
                            font-size: 0.9vw;
                            color: #000;
                            font-family: NeoSansBold;
                            &.floatRight {
                                font-size: 0.85vw;
                                font-family: NeoSansLight;
                                color: #999;
                            }
                        }
                    }
                    .ShowDiv {
                        padding: 0 0 10px 0;
                        p {
                            margin-bottom: 10px;
                            font-size: 13px;
                        }
                        .sendBtn {
                            margin-top: 2.5%;
                        }
                    }
                }
                .instructionSec {
                    margin-top: 30px;
                    h4 {
                        color: grey;
                        font-size: 0.75vw;
                        font-family: NeoSansBold;
                        margin-bottom: 0;
                    }
                    p {
                        color: grey;
                        font-size: 0.7vw;
                        font-family: NeoSansRegular;
                        margin: 0 0 30px;
                        width: 100%;
                        display: inline-block;
                        white-space: unset;
                        overflow: unset;
                        text-overflow: unset;
                    }
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                        li {
                            padding: 5px 0;
                            p {
                                color: #000;
                                font-size: 0.7vw;
                                font-family: NeoSansRegular;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                .photoSection {
                    margin-top: 30px;
                    .ImgArea {
                        padding: 0 4px;
                        padding-right: 4px;
                        margin: 0 auto;
                        &:nth-child(odd) {
                            padding-left: 0;
                        }
                        &:nth-child(even) {
                            padding-right: 0;
                        }
                        p {
                            font-size: 0.7vw;
                            margin-top: 5px;
                            margin-bottom: 8px;
                            text-align: center;
                            color: #000;
                            font-family: NeoSansRegular;
                            width: 100%;
                            text-overflow: unset;
                            white-space: unset;
                        }
                        .imageBox {
                            background-color: #fff;
                            position: relative;
                            width: 100%;
                            padding-top: 50%;
                            background-position: 50% !important;
                            border: 1px solid #ccc;
                            border-radius: 7px;
                            background-size: cover;
                            background-position: center;
                            &.front {
                                background-image: url(/images/others/icon/car_one.png);
                                background-size: cover;
                                background-position: center;
                            }
                            &.side {
                                background: url(/images/others/icon/car_two.png);
                            }
                            &.back {
                                background: url(/images/others/icon/car_three.png);
                            }
                            &.interior {
                                background: url(/images/others/icon/car_four.png);
                            }
                            &.addNew {
                                p.AddText {
                                    position: absolute;
                                    transform: translate(-50%, -50%);
                                    top: 65%;
                                    left: 50%;
                                    font-size: 0.6vw;
                                    font-family: NeoSansRegular;
                                    margin-bottom: 0;
                                }
                            }
                            .counter {
                                position: absolute;
                                top: 10px;
                                left: 10px;
                                cursor: pointer;
                                width: 22px;
                                height: 22px;
                                background-color: #fff;
                                box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
                                border-radius: 50%;
                                text-align: center;
                                label {
                                    font-size: 11px;
                                    font-family: NeoSansBold;
                                    color: #000;
                                    margin-top: 5px;
                                    display: block;
                                }
                            }
                            .addBtn {
                                position: absolute;
                                transform: translate(-50%, -50%);
                                top: 50%;
                                left: 50%;
                                cursor: pointer;
                                width: 1vw;
                            }
                            .dragBtn {
                                position: absolute;
                                top: 10px;
                                right: 10px;
                                cursor: pointer;
                                width: 17px;
                                pointer-events: auto;
                            }
                        }
                    }
                }
                .insuranceSec {
                    h6 {
                        margin-bottom: 0;
                        font-size: 0.85vw;
                        font-family: NeoSansBold;
                        color: #b3b3b3;
                    }
                    p {
                        margin-bottom: 0;
                        font-size: 0.8vw;
                        color: #b3b3b3;
                        font-family: NeoSansRegular;
                        width: 100%;
                        overflow: unset;
                        text-overflow: unset;
                        white-space: unset;
                    }
                    .detail {
                        padding: 30px 0;
                        .optionSec {
                            p {
                                padding: 0 0 5px !important;
                                span {
                                    margin-bottom: 0;
                                    font-size: 0.8vw;
                                    color: #b3b3b3;
                                    font-family: NeoSansBold;
                                    img {
                                        max-width: 7vw;
                                        margin-top: -10px;
                                    }
                                }
                            }
                            h4 {
                                margin-bottom: 20px;
                                margin-top: 30px;
                                font-size: 0.85vw;
                                font-family: NeoSansBold;
                                color: #000;
                            }
                            .sendBtn {
                                margin-top: 15px !important;
                                &:disabled {
                                    color: #000;
                                }
                            }
                        }
                    }
                }

                .customeFormGroup {
                    .fileUpload {
                        border-bottom: 1px solid #ccc;
                        width: 100%;
                        height: 23px;
                        outline: none;
                        box-shadow: none;
                        border-radius: 0px;
                        background-color: #fff;
                        color: #999;
                        margin-top: 5px;
                        h6 {
                            font-size: 0.82vw;
                            padding: 0px 0px 0 5px;
                            font-family: NeoSansRegular;
                            margin-bottom: 0px;
                        }
                        .imgUploadArea {
                            float: right;
                            position: absolute;
                            top: 25px;
                            right: 0;
                            cursor: pointer;
                            .photoSec {
                                display: none;
                            }
                        }
                    }
                    input,
                    select,
                    textarea {
                        color: #999;
                    }
                    textarea {
                        border: 1px solid #ccc;
                        border-radius: 7px;
                        padding: 5px;
                    }
                    input[type="file"] {
                        display: none;
                    }
                    .imgUploadArea {
                        float: right;
                        span {
                            color: #5c6d7a;
                            margin-right: 4px;
                        }
                    }
                    .list {
                        padding-left: 0;
                        position: absolute;
                        width: 100%;
                        z-index: 999;
                        overflow-y: auto;
                        min-height: 48px;
                        top: 62px;
                        overflow-x: hidden;
                        background: #fff 0 0 no-repeat padding-box;
                        box-shadow: 0 16px 40px rgba(0, 0, 0, 0.06);
                        border: 1px solid rgba(90, 91, 116, 0.3);
                        border-radius: 5px;
                        max-height: 183px !important;
                        li {
                            background: #fff;
                            height: auto;
                            overflow: hidden;
                            padding: 4px 15px;
                            line-height: 22px;
                            cursor: pointer;
                            text-align: left;
                            font-size: 0.82vw;
                            color: #999999;
                            margin: 0 0 6px 0;
                            border-bottom: 1px solid rgba(90, 91, 116, 0.3);
                            &:last-child {
                                border-bottom: 1px solid transparent;
                            }
                        }
                    }
                    // ---------------Switch Button---------------------------
                    .toggle {
                        input[type="checkbox"] {
                            height: 0;
                            width: 0;
                            visibility: hidden;
                            display: none;
                        }
                        label {
                            height: 26px;
                            width: 48px;
                            border-radius: 10px;
                            display: inline-block;
                            position: relative;
                            cursor: pointer;
                            background: grey;
                            border-radius: 100px;
                            position: relative;
                            &:after {
                                position: absolute;
                                content: "";
                                height: 24px;
                                width: 24px;
                                background-color: #fff;
                                box-shadow: 1px 1px 11px 2px rgba(0, 0, 0, 0.2);
                                border-radius: 50%;
                                left: 1px;
                                bottom: 0;
                                // transition: .5s;
                                top: 1px;
                            }
                        }
                        input {
                            &:checked {
                                + {
                                    label {
                                        background: #b2020f;
                                        &:after {
                                            -webkit-transform: translateX(22px);
                                            -ms-transform: translateX(22px);
                                            transform: translateX(22px);
                                            top: 1px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .Info {
                        color: #009245;
                        font-size: 0.68vw;
                        font-family: NeoSansRegular;
                        margin-top: 10px;
                        display: block;
                    }
                }
            }
        }
    }
}
// --------------Custome calender--------------
.customeCalender {
    max-width: 500px;
    width: auto;
}
.customeRangCalender {
    max-width: 700px;
    width: auto;
  
}
// -----------------------------Car Profile Modal----------------
.carProfileModal {
    max-width: 28vw;
    .dialogBox {
        background: url(/images/others/icon/garage/tutorial/map_sketch@3x.png);
        max-height: 84vh !important;
        overflow-y: auto !important;
        padding: 30px !important;
        .imgArea {
            max-width: 10vw;
            padding: 20px;
            margin: auto;
            img {
                width: 100%;
            }
        }
        h2 {
            color: #b2020f;
            font-size: 1.3vw;
            font-family: NeoSansBold;
            font-weight: 400;
            margin: 20px 0 0;
        }
        p {
            font-size: 0.85vw;
            color: #000;
            font-family: NeoSansRegular;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: 700;
        }
        .instruction {
            ul {
                margin: 0;
                padding: 0 0 0 15px;
                li {
                    font-size: 0.85vw;
                    color: #000;
                    font-family: NeoSansRegular;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
        .infoBlock {
            padding: 15px 0;
            border-top: 1px solid #ccc;
            label {
                font-size: 0.85vw;
                font-family: NeoSansBold;
                color: #000;
                margin-bottom: 0;
            }
            p {
                font-size: 0.75vw;
                color: #888;
                font-family: NeoSansRegular;
                margin-top: 10px;
                margin-bottom: 0;
                font-weight: 400;
            }
            .infoimg {
                max-width: 43%;
                display: block;
                img {
                    width: 100%;
                }
            }
            .infoimg2 {
                img {
                    max-width: 41px;
                    margin-right: 4px;
                }
            }
            .infoimg3 {
                img {
                    max-width: 35px;
                    margin-right: 6px;
                }
            }
        }
    }
}
.bookedDate {
    color: magenta;
    pointer-events: none;
}

.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
    cursor: pointer;

    &--highlighted {
        color: #fff;

        &-custom-1 {
            color: magenta;
            cursor: not-allowed !important;
        }

        &-custom-2 {
            color: green;
        }
    }
}
