@import "./project.scss";
.Footer {
    background-color: #f1f0f1;
    color: #808080;
    padding: 0 5.5%;
    .text {
      padding: 20px 0px;
      font-size: 14px;
      border-bottom: 1px solid #c7ccd1;
      color: #c7ccd1;
      p {
        margin-bottom: 0px;
        font-size: 0.75vw;
        font-family: NeoSansRegular;
        color: #808080;
      }
    }
    .saprator {
      border-bottom: 1px solid #c7ccd1;
    }
    .aboutEjaro {
      h3 {
        font-size: 1.5vw;
        color: #808080;
        font-family: NeoSansBold;
        margin-bottom: 0px;
      }
      .copyright p {
        margin-bottom: 0px;
        font-size: 0.78vw;
        margin-top: 2px;
      }
      .copyright {
        text-align: center;
        padding: 18px 0px;
        color: #808080;
        text-decoration: none;
        font-size: 12px;
        font-family: NeoSansBold;
        font-weight: bold;
      }
  
      .copyright ul {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-left: 0px;
        list-style-type: none;
      }
      .copyright ul.link li {
        &::after {
          content: "|";
          margin-left: 10px;
        }
        &:last-child {
          &::after {
            display: none;
          }
        }
      }
  
      .copyright ul li {
        display: inline-block;
        padding: 0px 5px;
        margin-top: -5px;
      }
  
      .copyright ul li a {
        color: #808080;
        text-decoration: none;
        font-size: 0.78vw;
      }
  
      .copyright ul.link li {
        display: inline-block;
        padding: 8px 5px 0;
        // border-right: 1px solid #fff;
      }
  
      .copyright ul.link li:last-child {
        border-right: 1px solid transparent;
      }
  
      .copyright ul li a img {
        width: 1.7vw;
      }
    }
    h3 {
      font-size: 1.5vw;
      color: #808080;
      font-family: NeoSansBold;
      margin-bottom: 10px;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      margin-top: 5px;
      li {
        padding: 9px 0px;
        a {
          color: #808080;
          font-size: 0.75vw;
          font-family: NeoSansRegular;
          // line-height: 20px;
          text-decoration: none;
          &:hover {
            text-decoration: none;
            color: #808080;
          }
        }
      }
    }
    .social {
      ul {
        li {
          display: inline-block;
          padding: 20px 10px;
          a {
            line-height: 54px;
            i {
              height: 20px;
              width: 20px;
              font-size: 21px;
            }
            &:hover {
              text-decoration: none;
              color: #808080;
            }
          }
          &:first-child {
            padding-left: 0px !important;
          }
        }
      }
    }
    nav {
      ul {
        li {
          display: inline-block;
          a {
            padding: 0px 10px;
            text-decoration: none;
            &:first-child {
              padding-left: 0px;
            }
            &:hover {
              text-decoration: none;
              color: #808080;
            }
          }
        }
      }
    }
    select {
      background-color: transparent;
      color: #808080;
      border: none;
      option {
        color: #000000;
      }
      &:focus {
        outline: none;
      }
    }
  }
  
  @media (max-width: 768px) and (min-width: 320px){
    .Footer {
      padding: 0;
      .copyright{
        p{
          font-size: 12px !important;
        }
      }
      h3{
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 0px;
      }
      ul{
        li{
          a{
            font-size: 12px !important;
            img{
              width: 30px !important;
              margin: 10px !important;
            }
          }
        }
      }
    }
  }