html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ----------color-------------- */
:root {
  --white: #fff;
  --red: #b2020f;
}
/* ----------------Fonts--------- */
@font-face {
  font-family: "NeoSansBold";
  src: url("../public/fonts/NeoSansStdBold.otf");
}
@font-face {
  font-family: "NeoSansLight";
  src: url("../public/fonts/NeoSansStdLight.otf");
}
@font-face {
  font-family: "NeoSansRegular";
  src: url("../public/fonts/NeoSansStdRegular.otf");
}
@font-face {
  font-family: "NeoSansArabic";
  src: url("../public/fonts/NeoSansArabic.ttf");
}
@font-face {
  font-family: "CenturyGothic";
  src: url("../public/fonts/CenturyGothic.ttc");
}
@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../public/fonts/MyriadPro-Regular.otf");
}

a{
  cursor: pointer;
  color: #000;
    text-decoration: underline;
    font-size: .9rem;
}
:disabled{
  opacity: 1!important;
    font-size: .7vw;
    outline: none;
    box-shadow: none;
    margin-top: 10px;
    font-family: NeoSansBold;
    border: 1px solid #989898!important;
    background-color: #989898!important;
    color: #fff;
    cursor: pointer;
}
button{
  cursor: pointer;
}
.dropdown-item:focus{
  background-color: transparent!important;
}
button:focus {
  outline: 1px dotted transparent;
}
.ReactModal__Overlay--after-open{
  background-color: #000000d1 !important;
  z-index: 99999;
}
input::placeholder {
  color: #6c757d;
  opacity: 1;
}
button:disabled{
  border: 1px solid #989898 !important;
  background-color: #989898 !important;
}
.react-tel-input .flag-dropdown {
  position: absolute;
  top: -6px!important;
  bottom: 0;
  padding: 0;
  background-color: transparent!important;
  border: 1px solid transparent!important;
  border-radius: 3px 0 0 3px;
}
.form-control:focus{
  box-shadow: 0 0 0 .2rem transparent;
}
.huofGz{
  line-height: 18px !important;
  background-color: #fff!important;
  color: #000!important;
}
.react-datepicker-popper{
  z-index: 9999!important;
}
/* ---------------------------extra detail calender----------- */
.extradetailCalender .react-datepicker,.signUpDatePicker .react-datepicker,.signUpDatePicker .react-datepicker-popper[data-placement^="top"],.signUpDatePicker .react-datepicker-popper,.signUpDatePicker.react-datepicker-popper[data-placement^="bottom"]{
  width: 100%;
}
.extradetailCalender .react-datepicker__month-container,.signUpDatePicker .react-datepicker__month-container {
  float: unset!important;
}

.extradetailCalender .react-datepicker__day-name,.extradetailCalender .react-datepicker__day, .react-datepicker__time-name{
  width: 3.4rem !important;
  line-height: 2rem !important;
}
.extradetailCalender .react-datepicker__month{
  margin: 0rem !important;
}
date:disabled   {
  pointer-events: none;
  
}
.signUpDatePicker .react-datepicker__day-name,.signUpDatePicker .react-datepicker__day,.signUpDatePicker .react-datepicker__time-name{
  width: 12.5% !important;
}
/* / Scrollbar Styling / */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d; 
}


.slick-slide img {
  margin: auto;
  width: 100%;
  height: 100%;
}
.slick-prev {
  left: unset;
  right: 5%;
}
.slick-next {
  right: 1.9%;
}
.slick-prev, .slick-next {
  width: 25px !important;
  height: 25px !important;
  position: absolute;
  top: -60px;
}
.slick-next:before,
.slick-prev:before {
  font-family: "slick" !important;
font-size: 35px !important;
line-height: 1 !important;
color: inherit !important;
width: 100%;
background-size: contain !important;
background-repeat: no-repeat !important;
opacity: 1 !important;
}
.slick-next:before {
  background-image: url(/images/others/home/next.png);
}

.slick-prev:before {
  background-image: url(/images/others/home/back.png);
}
/* ------------rangCalender------------ */
.rangCalender .react-datepicker{
  width: 100%;
}
.rangCalender .react-datepicker__month-container{
  width: 50%;
}
/* 
input[type="range"] {
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
} */
