@import "./project.scss";

.mainNav {
    // padding: 0rem 1rem;
    // background: #fff;
    padding: 0.8% 5.6% !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 7%;
    transition: all ease-in-out 0.5s;
    
    .navbarBrand {
        img {
            max-width: 5vw;
        }
    }
    .navCollapse {
        .navbarNav {
            .navItem {
                padding: 0px 17px 0 0;
                 cursor: pointer;
                button {
                    background-color: #b2020f;
                    margin-bottom: 0px;
                    font-family: NeoSansBold !important;
                    font-size: 11px;
                    border-radius: 8px;
                    width: 134px;
                    padding: 9px 0px 7px;
                    display: inline-block;
                    text-align: center;
                    color: #fff;
                    border-color: transparent;
                    border: 0px;
                }
            }
        }
        .HeaderDiv {
            max-width: 100%;
            float: right;
            .navDropdown {
                display: inline-block;
                position: relative;
                > .navLink {
                    position: relative;
                    text-align: center;
                    font-family: CenturyGothic;
                    padding: 0 0 0 0.5rem;
                    font-size: 16px;
                    font-weight: 700;
                    margin-top: -6px;
                    color: #fff;
                    background-color: initial;
                    border: none;
                    &::after {
                        display: none;
                    }
                }
                .dropdownMenu {
                    background: #fff;
                    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
                    border: 1px solid #eae2e2;
                    padding: 0;
                    width: 282px;
                    color: #2d303a;
                    opacity: 1;
                    visibility: visible;
                    transition: transform 0.15s, opacity 0.15s, visibility 0s linear 0.15s, -webkit-transform 0.15s;
                    transform: scale(0.95);
                    transform-origin: top right;
                    list-style: gurmukhi;
                    z-index: 11;
                    left: -170px;
                    min-width: 160px !important;
                    top: 28px !important;
                    min-width: 268px !important;
                    border-radius: 16px;
                    padding: 2.5vh 0.4vw 2vh;
                    > .dropdownItem {
                        padding: 0.36rem 1rem !important;
                        font-size: 0.85vw;
                    }
                }
            }
            .navProfileDropdown {
                display: inline-block;
                position: relative;
                .navLink {
                    position: relative;
                    text-align: center;
                    font-family: CenturyGothic;
                    padding: 0 0 0 0.5rem;
                    font-size: 16px;
                    font-weight: 700;
                    margin-top: 0px;
                    color: #fff;
                    background-color: initial;
                    border: none;                       
                        .profileImg {
                            width: 39px;
                            height: 39px;
                            border-radius: 50%;
                            margin-right: 2px;
                            margin-top: 5px;
                            margin-left: 6px;
                            overflow: hidden;
                            border: 1px solid #fff;
                            position: relative;
                            display: inline-block;
                            position: relative;
                            object-fit: cover;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                        
                     
                    }
                    .count {
                        text-align: center;
                        margin-top: 0px;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        color: #b2020f;
                        background-color: #fff;
                        position: absolute;
                        font-size: 10px;
                        right: 0px;
                        top: 2px;
                        padding-top: 2px;
                        font-family: NeoSansBold;
                    }
                    &::after {
                        display: none;
                    }
                }
                    .dropdownMenu {
                        background: #fff;
                        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.12);
                        border: 1px solid #eae2e2;
                        padding: 0;
                        width: 282px;
                        color: #2d303a;
                        opacity: 1;
                        visibility: visible;
                        transition: transform 0.15s, opacity 0.15s, visibility 0s linear 0.15s, -webkit-transform 0.15s;
                        transform: scale(0.95);
                        transform-origin: top right;
                        list-style: gurmukhi;
                        z-index: 11;
                        left: -209px;
                        min-width: 160px !important;
                        top: 44px !important;
                        min-width: 268px;
                        border-radius: 16px;
                        padding: 2.5vh 0.4vw 2vh;
                        li {
                            padding: 0.95vh 0vh;
                            font-size: 0.9vw;
                            list-style-type: none;
                            &:nth-child(3) {
                                border-bottom: 1px solid #e5e5e5;
                                margin-bottom: 8px;
                            }
                            &:nth-child(7) {
                                border-bottom: 1px solid #e5e5e5;
                                margin-bottom: 1px;
                            }
                            &:first-child {
                                padding-top: 0px;
                            }
                            &:last-child {
                                padding-bottom: 0px;
                                padding-top: 0px;
                                border-bottom: 0px solid #e5e5e5;
                                // margin-bottom: 0px;
                            }
                            a ,button{
                                color: #000000;
                                font-family: NeoSansRegular;
                                text-decoration: none;
                                font-size: inherit;
                                .floatRight {
                                    color: #000;
                                    font-family: NeoSansBold !important;
                                    font-size: 0.85vw;
                                    padding: 3px 0px;
                                    margin-top: -2px;
                                    float: right;
                                    span {
                                        color: #b2020f;
                                        font-size: 0.85vw;
                                    }
                                    img{
                                        margin: -2px 0 0 4px;
                                        max-width: 10px;
                                    }
                                  
                                }
                                .menuImg{
                                    width: 14px;
                                    margin-right: 15px;
                                }
                                &.dropDownItem{
                                    padding: 0.25rem 1rem !important;
                                    

                                }
                               &:hover {
                                background-color: transparent;
                               }
                            }
                            a.bold {
                                font-family: NeoSansBold !important;
                                .float-right {
                                    color: #b2020f;
                                    img {
                                        margin: -2px 0px 0px 4px;
                                        max-width: 10px;
                                    }
                                }
                               
                            }
                        }
                        &.signupMenu{
                            li{
                                &:nth-child(3) {
                                    border-bottom: 0px solid #e5e5e5; 
                                }
                            }
                        }
                    }
                
                }
            }
        }
        &.mainNavFixedTop{
            padding: 0.8% 5.6% !important;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 10;
            height: 7%;
            transition: all ease-in-out 0.5s;
            background-color: #b2020f !important;
            .navCollapse{
                .navbarNav{
                    .navItem{
                        button{
                            background-color: #fff;
                            color: #b2020f;
                        }
                    }
                }
            }
        }
        .searchBar{
            display: none;
        }
    }
