@import "./project.scss";

.HomePage {
    // ----------------------Top Banner--------------------------
    #bannerSection {
        // height: 92.2vh;
        position: relative;
        width: 100%;
        padding-top: 43%;
        background-size: cover;
        background-image: url("../public/images/others/header_image.png");
        height: 700px;
        @supports (background-image: image-set(url("../public/images/others/home/jpeg2000/header_image_1.jp2") 1x)) {
            background-image: image-set(url("../public/images/others/home/jpeg2000/header_image_1.jp2") 1x);
        }
        /* Chrome 66+, Edge 79+, Opera 53+, Android Brower 80+ */
        @media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
            // height: 720px;
            @supports (
                background-image: -webkit-image-set(url("../public/images/others/home/webp/header_image.webp") 1x)
            ) {
                background: -webkit-image-set(url("../public/images/others/home/webp/header_image.webp") 1x);
                background-position: center;
                background-size: cover;
                text-align: center;
                background-repeat: repeat;
                display: block;
            }
        }
        /* FF 66+ */
        @supports (flex-basis: max-content) and (-moz-appearance: meterbar) {
            background-image: url("../public/images/others/home/webp/header_image.webp");
        }
        background-position: center;
        background-size: cover;
        text-align: center;
        background-repeat: repeat;
        display: block;
        position: relative;
        .textSection {
            position: absolute;
            left: 5.9%;
            bottom: 7%;
            h2 {
                color: $white;
                font-size: 1.72vw;
                font-family: "NeoSansArabic";
                font-weight: 300;
                line-height: 2.7rem;
                margin-bottom: 0px;
            }
            img {
                max-width: 9.6vw;
                margin-top: 6px;
            }
        }
    }
    //------------Location slider--------------
    .relatedVehicle {
        padding: 4.3% 6.5% 3%;
        text-align: center;

        p {
            color: #000;
            font-size: 1.5vw;
            font-family: NeoSansBold;
            font-weight: 400;
            margin-bottom: 50px;
        }
        .carInfo {
            text-align: left;
            margin: 0 auto;
            position: relative;
            cursor: pointer;
            margin-left: 5px;
            margin-bottom: 10px;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0px 1px 5px #0000004d;
            background-color: #fff;
            margin-top: 6px;

            .unfav {
                position: absolute;
                top: 19px;
                right: 16px;
                border-radius: 50%;
                // padding-top: 4px;
                color: #000;
                text-align: center;
                background-color: #fff;
                height: 31px;
                width: 31px;
                font-size: 20px;
                font-family: NeoSansBold;
                z-index: 20;
                cursor: pointer;
                overflow: hidden;
                button {
                    padding: 0;
                    border: transparent;
                    background: transparent;
                    img {
                        width: 100%;
                    }
                }
            }
            .fav {
                position: absolute;
                top: 19px;
                right: 16px;
                border-radius: 50%;
                // padding-top: 4px;
                color: #000;
                text-align: center;
                background-color: #fff;
                height: 31px;
                width: 31px;
                font-size: 20px;
                font-family: NeoSansBold;
                z-index: 20;
                cursor: pointer;
                overflow: hidden;
                button {
                    padding: 0;
                    border: transparent;
                    background: transparent;

                    img {
                        width: 100%;
                    }
                }
            }
            .pricetag {
                background-color: $red;
                position: absolute;
                top: 20px;
                left: 18px;
                padding: 7px 10px;
                border-radius: 8px;
                z-index: 20;
                p {
                    color: #fff;
                    font-size: 0.63vw;
                    font-family: NeoSansBold;
                    text-transform: uppercase;
                    margin-bottom: -3px;
                    white-space: nowrap;
                    overflow: hidden;
                    img {
                        max-width: 14px;
                        display: inline-block;
                        margin-top: -4px;
                    }
                }
            }
            .carImg {
                width: 100%;
                height: 226px;
                overflow: hidden;
                cursor: default;
                // object-fit: cover;
                background-color: #ffffff;
                position: relative;
                // width: 100%;
                // padding-top: 66.5%;
                background-position: center;
                background-size: cover;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px 10px 0px 0px;
                    object-fit: cover;
                }
            }
            .carDesc {
                padding: 7px 15px;
                border-top: 1px solid #b0b0b025;
                h5 {
                    color: #000;
                    font-size: 1.05vw;
                    font-family: NeoSansBold;
                    margin-bottom: 0px;
                    text-align: left;
                    margin: 9px 0 -3px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 100%;
                    display: inline-block;
                    margin-bottom: -7px;
                    span {
                        font-size: 1.05vw;
                        font-family: NeoSansRegular;
                        display: inline-block;
                        margin-left: 7px;
                    }
                }
                ul {
                    display: block;
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    li {
                        display: inline-block;
                        color: #000000;
                        font-family: NeoSansRegular;
                        font-size: 0.75vw;
                        img {
                            max-width: 10px;
                            display: inline-block;
                            margin-top: -2px;
                            margin-right: 5px;
                        }
                        .saprate {
                            margin: 0px 5px;
                            max-width: 1px;
                            height: 28px;
                            margin-top: -2px;
                        }
                        // &:first-child {
                        //   &::after {
                        //     content: url(../../../assets/shared/img/others/icon/rentals_line.svg);
                        //     margin: 0px 10px;
                        //   }
                        // }
                    }
                }
                .price {
                    text-align: right;
                    h5 {                       
                        margin-bottom: 0px;
                        text-align: center;
                        margin: 13px 0 0px;                      
                        color: #000;
                        font-size: .9vw;
                        font-family: NeoSansRegular;
                        span {
                            color: #b2020f;
                            font-size: 0.9vw;
                            font-family: NeoSansBold;
                            white-space: nowrap;
                            overflow: hidden;
                            margin-left: 0;
                            max-width: 93px;
                            text-overflow: ellipsis;
                            float: left;
                        }
                    }
                    h6 {
                        color: #000;
                        font-size: 0.6vw;
                        font-family: NeoSansBold;
                        margin-bottom: 0px;
                        margin-top: -2px;
                        span{
                            font-family: NeoSansRegular;
                        }
                    }
                }
            }
            h4 {
                margin: 0px;
                h3 {
                    color: #000;
                    font-size: 28px;
                    font-family: NeoSansBold;
                    margin-bottom: 0px;
                    text-align: left;
                    margin: 16px 0 16px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 60%;
                    display: inline-block;
                    span {
                        font-family: MyriadPro-Regular;
                        font-weight: lighter;
                    }
                }
                p {
                    background-color: #b2020f;
                    float: right;
                    color: #fff;
                    padding: 4px 5px 1px;
                    margin-top: 19px;
                    border-radius: 5px;
                    font-weight: 600;
                    i {
                        margin: 1px 3px 0px;
                    }
                }
            }
            p {
                color: #000;
                font-size: 13px;
                font-family: "NeoSansRegular";
                font-weight: 400;
                margin-bottom: 2px;
            }
            .reviewSec {
                margin-top: -10px;
                ul {
                    margin-left: 0;
                    padding-left: 0;
                    margin-bottom: 0;
                    color: #000;
                    font-size: 14px;
                    list-style-position: inside;
                    font-family: NeoSansArabic;
                    li {
                        display: inline-block;
                        padding-right: 10px;
                        color: #000000;
                        img {
                            width: 10px;
                            margin: 0px 5px;
                        }
                        &:nth-child(2) {
                            &::before {
                                content: "|";
                                margin-left: 8px;
                                margin-right: 8px;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    // ----------------------Video Section--------------------------
    #welcome {
        // padding: 2.2% 5.5% 5.5%;
        padding: 4% 5.5%;
        background-color: #000000;
        position: relative;
        .holder {
            display: grid;
            grid-template-columns: 1fr 1.3fr;
            grid-gap: 25px;
        }
        .embedResponsive {
            border-radius: 26px; //previous 25px
            width: 100%;
            margin: 0 auto;
            // height: 530px;
            height: 100%;
        }
        .embedResponsiveBY {
            &::before {
                padding-top: 51%;
            }
        }
        .imgSec,
        .videoSection {
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 5%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        h2 {
            color: #ffffff;
            font-size: 3vw;
            font-family: NeoSansBold;
            font-weight: 100;
            margin: 0;
            margin-bottom: 0px;
        }
        h3 {
            margin: 3px auto 40px;
            font-size: 29px;
            font-family: NeoSansBold;
            font-weight: 100;
            color: $white;
        }
        h4 {
            color: #ffffff;
            font-size: 2.2rem;
            font-family: NeoSansRegular;
            font-weight: 100;
            margin: 0;
        }
        p {
            font-size: 0.965vw;
            font-family: NeoSansRegular;
            font-weight: 100;
            color: #ffffff;
            text-align: justify;
            margin: 15px 0px 9px;
            max-width: 82%;
            line-height: 32px;
        }
        // .play_area {
        //     padding-top: 16vh;
        //     padding-bottom: 16vh;
        // }
        // .arabic_welcm {
        //     text-align: right;
        //     padding-right: 11rem;
        // }
    }
}
// -------------------Market Place-----------------------
.marketplace {
    background-color: #eeeeee;
    background-size: cover;
    background-position: center;
    padding: 2.5% 0% 2.5% 5.3%;
    text-align: center;
    // .functionalityGroup {
    //   display: grid;
    //   grid-template-columns: repeat(12, minmax(25%, 1fr));
    // }
    h2 {
        color: #000;
        font-size: 45px;
        font-family: NeoSansBold;
        font-weight: 400;
        margin-bottom: 0px;
    }
    p {
        color: #000;
        font-size: 28px;
        font-family: NeoSansBold;
        font-weight: 400;
        margin-bottom: 15px;
    }
    .functionality {
        // margin-top: 100px;
        padding: 20px 0px;
        h3 {
            font-size: 1.57vw;
            color: #000000;
            font-family: NeoSansBold;
            margin-bottom: 0px;
        }
        h5 {
            font-size: 1.1vw;
            color: #000000;
            font-family: NeoSansBold;
            margin-bottom: 10px;
            margin-top: 15px;
        }
        img {
            max-width: 10vh;
            margin-top: 0.4vh;
            text-align: right;
        }
        .marketplaceSingle {
            text-align: left;
            padding: 8px 0px;
            padding-left: 8%;
            h4 {
                color: #b2020f;
                font-family: NeoSansBold;
                font-weight: 600;
                font-size: 1.05vw;
                margin-bottom: 11px;
                margin-top: 3px;
            }
            p {
                color: #000000;
                font-size: 0.85vw;
                font-family: NeoSansArabic;
                margin-bottom: -2px;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
// -------------------Popular-Sec---------------------
.popularPlace {
    padding: 4.3% 6.5% 3%;
    text-align: center;
    h2 {
        color: #000;
        font-size: 1.72vw;
        font-family: NeoSansBold;
        font-weight: 400;
        margin-bottom: 1px;
    }
    p {
        color: #000;
        font-size: 1.37vw;
        font-family: NeoSansArabic;
        font-weight: 400;
        margin-bottom: 34px;
    }
    .carInfo {
        text-align: left;
        margin-top: 32px;
        cursor: grab;
        .carImg {
            border-radius: 50%;
            cursor: pointer;
            position: relative;
            width: 100%;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            width: 170px;
            margin: auto;
            height: 170px;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .vehicleImg {
            text-align: left;
            position: relative;
            cursor: pointer;
            border-radius: 8 px;
            overflow: hidden;
            box-shadow: 0 1px 5px rgb(62 29 29 / 30%);
            background-color: #fff;
            margin: 6 px auto 10 px 5 px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .fav {
            position: absolute;
            top: 19px;
            right: 16px;
            border-radius: 50%;
            color: #000;
            text-align: center;
            background-color: #fff;
            height: 31px;
            width: 31px;
            font-size: 20px;
            font-family: NeoSansBold;
            z-index: 20;
            cursor: pointer;
            cursor: pointer;
        }
        .avg {
            background-color: #b2020f;
            position: absolute;
            top: 20px;
            left: 18px;
            padding: 7px 10px;
            border-radius: 8px;
            z-index: 20;

            p {
                color: #fff;
                font-size: 0.63vw;
                font-family: NeoSansBold;
                text-transform: uppercase;
                margin-bottom: -3px;
                white-space: nowrap;
                overflow: hidden;
            }
            img {
                max-width: 14px;
                display: inline-block;
                margin-top: -4px;
            }
        }
        .carDetailsInfo {
            color: #000;
            font-size: 1.05vw;
            font-family: NeoSansBold;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
            display: inline-block;
            margin: 9 px 0 -7 px;
        }
        h4 {
            color: #000;
            font-size: 1.05vw;
            font-family: NeoSansBold;
            font-weight: 400;
            margin: 35px 0 10px;
            text-align: center;
            cursor: pointer;
        }
    }
}
// ---------------Earn Sec-------------------------
#earnSec {
    background-color: #ffffff;
    position: relative;
    // padding-top: 27.5%;
    background-image: url("../public/images/others/home/banner_image.png");
    padding: 6.8% 5.5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    .text {
        // position: absolute;
        // left: 5%;
        // top: 25%;
        img {
            width: 17.5rem;
            margin-bottom: 5.4rem;
        }
        .mini {
            h3 {
                color: $white;
                font-size: 20px;
                font-family: NeoSansBold;
                line-height: 40px;
                font-weight: 400;
                margin-bottom: 15px;
            }
            display: none;
        }
        h2 {
            color: #fff;
            font-size: 2.07vw;
            font-family: NeoSansBold;
            // line-height: 1.6vw;
            font-weight: 400;
            margin-bottom: 0px;
        }
        p {
            font-size: 1.21vw;
            font-family: NeoSansRegular;
            font-weight: 400;
            color: #fff;
            margin-top: 16px;
        }
    }
    .downloadAddress {
        margin-top: 9.8rem;
        h3 {
            margin: 0 auto;
            font-size: 28px;
            font-family: NeoSansBold;
            font-weight: 100;
            color: #ffffff;
        }
        img {
            max-width: 105px;
            margin-bottom: 0px;
        }
    }
    &.arabicPolicy {
        h2 {
            padding-right: 18rem;
        }
        p {
            padding-right: 0;
        }
    }
    .earningBtn {
        min-width: 150px;
        margin-top: 2.3vh;
        box-shadow: none;
        color: #fff !important;
        font-size: 12px;
        background-color: #b2020f;
        font-family: NeoSansBold;
        padding: 11px 22px 9px;
        border-radius: 7px;
        border: none;
        outline: none;
        margin: 0 auto;
    }
    .mobileImg {
        img {
            max-width: 34rem;
        }
    }
}
// ------------Brand Logo---------------
.featured {
    background-color: #eeeeee;
    background-size: cover;
    background-position: center;
    padding: 0% 10%;
    margin-top: 3.5%;
    text-align: center;
    .featureHeading {
        padding: 1.9% 0%;
        h5 {
            font-size: 1.75vw;
            color: #afafaf;
            font-family: NeoSansBold;
            margin-bottom: 10px;
            margin-top: 6%;
            text-align: center;
        }
    }
    .featureImage {
        padding: 3%;
        text-align: center;
        img {
            max-width: 65%;
        }
    }
}
// -----------------Download Sec---------------
.download {
    // background-color: #ffffff;
    padding: 5% 14%;
    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    h2 {
        color: #000;
        font-size: 1.7vw;
        font-family: NeoSansRegular;
        line-height: 40px;
        font-weight: 400;
        margin-bottom: 15px;
    }
    .heading {
        margin-top: 22%;
        padding-left: 8%;
        // text-align: center;
    }
    .downloadAddress {
        // text-align: center;
        margin-top: 4.8vh;
        padding-left: 8%;
        // width: 80%;
        h3 {
            margin: 0 auto;
            font-size: 2vw;
            font-family: NeoSansBold;
            font-weight: 100;
            color: #000;
        }
        img {
            width: 7vw;
        }
    }
    .mobileImg {
        img {
            max-width: 84%;
            margin-top: -1vh;
            margin-left: -1vw;
        }
    }
    .logos {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
        margin: 0px -4%;
        img {
            // margin-top: 3%;
            max-width: 85%;
            margin-bottom: 10px;
        }
    }
}
