@import "./project.scss";

.searchSec {
    position: absolute;
    width: 43.5%;
    max-width: 51.7rem;
    z-index: 99;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    form {
        width: 100%;
        max-width: 51.7rem;
        z-index: 99;
        margin: auto;
        .inputArea {
            margin: 0 auto;
            padding: 0;
            position: relative;
            .single {
                background-color: #fff;
                overflow: hidden;
                border-radius: 10px;

                .inputWithIcon {
                    height: 47px;
                    position: relative;
                    img {
                        position: absolute;
                        transform: translate(-50%, -50%);
                        left: 5%;
                        top: 50%;
                        padding: 9px 5px;
                        color: #aaa;
                        width: 25px;
                        cursor: pointer;
                    }
                    input {
                        padding-left: 42px;
                        padding-right: 7px;
                        width: 100%;
                        height: 48px;
                        border: none;
                        border-radius: 4px;
                        padding-top: 3px;
                        outline: none;
                        font-family: NeoSansRegular;
                        font-size: 15px;
                        box-sizing: border-box;
                        border-radius: 0;
                        text-overflow: ellipsis;
                    }
                    p {
                        color: #000;
                        font-size: 15px;
                        font-family: NeoSansRegular;
                        margin-bottom: -2px;
                        text-align: left;
                        padding: 14px 15px 13px 45px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        cursor: pointer;
                    }
                }
                .searchBtn {
                    background: #b2020f;
                    color: #b3b3b3;
                    padding: 11px 18px 10px;
                    border: 0;
                    height: 50px;
                    float: right;
                    margin-top: -1px;
                    margin-bottom: -1px;
                    font-size: 18px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    font-family: MyriadPro-Regular;
                    img {
                        width: 21px;
                        &.white{
                            display: block;
                        }
                        &.red{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    
}
.SeachFix{
    position: fixed;
    width: 43.5%;
    max-width: 43.7vw;
    transform: translate(-50%,-50%);
    top: 3.5%;
    left: 50%;
    z-index: 101;
    width: 100%;
    .searchSec {
    top: 16%;
    position: relative;
    width: 100%;
    form{
    .inputArea {
        .single {
            .inputWithIcon {
                height: 40px;
                input{
                    height: 40px;
                    padding-top: 3px;
                    padding-left: 32px;
                    font-size: 13px;
                }
                p{
                    font-size: 13px;
                    font-family: NeoSansRegular;
                    margin-bottom: -2px;
                    text-align: left;
                    padding: 12px 15px 10px 35px;
                }
            }
            .searchBtn {
                background: #fff;
    padding: 10px 18px 10px;
    border: 0;
    height: 40px;
    float: right;
    margin-top: 0px;
    margin-bottom: -1px;
    font-size: 18px;
    border-left: 1px solid #b2020f;
                img {
                    width: 18px;
                    &.white{
                        display: none;
                    }
                    &.red{
                        display: block;
                    }
                }
            }
        }
    }
}
    }
}
.searchSection{
    position: fixed;
    top: 100%;
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    z-index: 60;
    box-shadow: 0 0 20px rgb(0 0 0 / 45%);
    width: 100%;
    text-align: left;
    ul {
        
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
    li {
        img {
            width: 18px;
            margin-right: 5px;
        }
            padding: 5px;
            font-size: 11px;
    }
    li:nth-child(2) {
        color: #b2020f;
    }
    }
   